{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "q2zr00y2c01zf"
    },
    "info": {
        "title": "Container Tracking API",
        "version": "2.0",
        "description": "This documentation defines how the users can utilize the Portcast API to retrieve the latest Track and Trace Data for any container, bill of lading or booking across 100+ carriers and 2500+ ports across the globe.\n\nWhat's changed in the version 2.0?\nFind out more about it [here](https://support.portcast.io/support/solutions/articles/151000074289-api-release-notes-april-2023-)!!",
        "summary": "Portcast API",
        "license": {
            "name": "Portcast",
            "url": "https://portcast.io"
        },
        "contact": {
            "name": "Portcast Support Team",
            "url": "https://portcast.io",
            "email": "support@portcast.io"
        },
        "termsOfService": "https://portcast.io/terms-of-use.pdf"
    },
    "servers": [
        {
            "url": "https://api.portcast.io/api/v2",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Upload containers for tracking",
            "description": "Endpoints for the upload workflow"
        },
        {
            "name": "Get tracking data for uploaded containers",
            "description": "Endpoints to get tracking data"
        },
        {
            "name": "Sub-APIs",
            "description": "Endpoint to get more granular detailed visibility data"
        },
        {
            "name": "Supporting API",
            "description": "Endpoints to fetch supporting metadata"
        }
    ],
    "paths": {
        "/org/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "operationId": "ListCustomers",
                "summary": "Get a list of customers",
                "security": [
                    {
                        "x-api-key": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomersResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageModel"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error / Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageModel"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "operationId": "CreateCustomer",
                "summary": "Create a new customer",
                "security": [
                    {
                        "x-api-key": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageModel"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageModel"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error / Unexpect error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/eta/bill-of-lading-bookmarks": {
            "post": {
                "summary": "Upload using Container Number",
                "tags": [
                    "Upload containers for tracking"
                ],
                "operationId": "post-eta-bill-of-lading-bookmarks",
                "responses": {
                    "200": {
                        "description": "#### Upload Successful\n\nOnce the container is successfully uploaded the API Responds with the Bill of Lading Bookmark Object.\n\nThe bill of lading bookmark object consists of the metadata for your upload.\n\nKey features to note for the same:\n- The ID returned is the primary key which helps us identify each unique upload in our system and can help you retrieve the latest tracking data for the same. This ID is also called as Bill of Lading Bookmark ID or Bookmark ID.\n- The created timestamp defines when the bookmark was created.\n- The updated timestamp defines when the bookmark was last refreshed, i.e. when we retrieved the tracking information last for the bookmark.\n- The status defines at which stage of the journey the bookmark is on.\n- Org ID defines which flow/customer org the bookmark is created in.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "obj": {
                                            "$ref": "#/components/schemas/Bill_of_Lading_Bookmark"
                                        }
                                    }
                                },
                                "examples": {}
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered due to the following case conditions:\n- Invalid Payload\n    - Triggered when the payload provided in the request doesn't follow the API requirements, could be because of non-null contrainsts or missing/incorrect payload key names\n    - Resolution: Make sure the keys in the payload are correct and the carrier_no, bl_no, cntr_no are not null.\n- Invalid Carrier_no\n    - Triggered when the provided carrier_no is not a valid SCAC code, or it doesn't belong to the scac synonyms\n    - Resolution: Ensure that you're using a portcast supported SCAC or SCAC Synonmyn in the payload.\n- Invalid Container Number\n    - Triggered when the container number provided doesn't follow the ISO 6346 standards\n    - Resolution: Ensure that the container number used to make the upload follows the [ISO 6346 standards](https://en.wikipedia.org/wiki/ISO_6346#Check_digit)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "invalid payload, please refer to the detailed schema in documentation",
                                                "Invalid Container Number",
                                                "Invalid Carrier Number"
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "Container Error": {
                                        "value": {
                                            "message": "Invalid Container Number"
                                        }
                                    },
                                    "Payload Error": {
                                        "value": {
                                            "message": "invalid payload, please refer to the detailed schema in documentation"
                                        }
                                    },
                                    "Carrier Number Error": {
                                        "value": {
                                            "message": "Invalid Carrier Number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "API Key Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "#### API Quota Exceeded\n\nAPI Quota for the org is finished. <br>\n\n**Resolution:** <br>\nFor further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "API Quota Exceeded"
                                        }
                                    }
                                },
                                "examples": {
                                    "Quota Error": {
                                        "value": {
                                            "message": "API Quota Exceeded"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "#### Duplicate Upload ~ Record Already Exists\n\nA bookmark with the same Carrier-BL/Booking Number-Container Number combination exists in the same org.\n\n**Resolution:** <br>\nThe API responds with the Bookmark ID for the same, which can be used to fetch the data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Record already exists"
                                        },
                                        "previous_ids": {
                                            "type": "array",
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "description": "List of Existing Bookmark IDs for the Carrier-BL-Container Combination",
                                            "items": {
                                                "type": "string",
                                                "format": "uuid",
                                                "example": "c7ca3acb-aa73-40c8-884d-928b9a5aceac"
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Duplicate Error": {
                                        "value": {
                                            "message": "Record already exists",
                                            "previous_ids": [
                                                "c7ca3acb-aa73-40c8-884d-928b9a5aceac"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "#### Internal Server Error\n\nThese could be due to:\n- Data Sources aren't responding\n- Error in Bookmark Creation process\n- Internal Database errors\n\n**Resolution:** <br>\nFor further assistance, please reach out to your account manager or support@portcast.io"
                    }
                },
                "description": "*To track shipment, you need to provide three inputs:*\n\n- Carrier SCAC code: This helps us to identify which carrier to fetch the data from, use AUTO if you don't know. If AUTO is used the bill of lading number is disregarded, only container number is used and the data return is for the latest journey of the container.\n- Bill of Lading or Booking Number: This helps us to fetch the correct journey along with detailed tracking data\n- Container Number: This helps us to identify which container you intend to track within the Booking\n\nIncase of any missing inputs, refer to [Input Data Guide](docs/Input_Data_Guide.md) for more details!",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "customer-ABC"
                        },
                        "in": "header",
                        "name": "x-customer",
                        "description": "[Enterprise Customers] Customer Name to indicate which org to upload too"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "description": "Upload Parameters",
                                "properties": {
                                    "carrier_no": {
                                        "type": "string",
                                        "description": "Carrier SCAC Code or Carrier Synonym (AUTO Detection Supported)"
                                    },
                                    "bl_no": {
                                        "type": "string",
                                        "description": "Carrier Provided Master Bill of Lading Number or Booking Number [Leave blank if not available]"
                                    },
                                    "cntr_no": {
                                        "type": "string",
                                        "description": "Container Number (ISO6346)"
                                    },
                                    "callback_url": {
                                        "type": "string",
                                        "description": "A https endpoint for Portcast to push the json object whenever there are updates."
                                    }
                                },
                                "required": [
                                    "carrier_no",
                                    "cntr_no"
                                ]
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "carrier_no": "CMDU",
                                        "bl_no": "MXO0630199",
                                        "cntr_no": "SEKU5684297"
                                    }
                                }
                            }
                        }
                    },
                    "description": "Upload Parameters"
                }
            }
        },
        "/eta/booking": {
            "post": {
                "summary": "Upload using Booking/Bill of Lading",
                "operationId": "post-booking",
                "responses": {
                    "200": {
                        "description": "#### Upload Successful\n\nThe API Responds with the list of containers that are uploaded, along with the response object which would consist of the Bill of lading bookmark object for each container, the ID provided with in each Bill of Lading Bookmark object would be used to fetch the tracking data for the respective container.\n\nIn case of any error within the process, the same would be highlighted in the message object of the response. The details for the same can be found in: [Status Codes](https://portcast.stoplight.io/docs/portcast-api/jm8coczry4gxb-status-codes#booking-api-statuses)\n\nIf the bookmark for a container already exists in our system, then the API responds with the Bookmark ID for that container within the response object.\n\nIn addition to the same, this endpoint also shares some metadata for the booking:\n- The route of the shipments along with POL, POD, pre-POL and post-POD locations\n- Locations metadata for the ports the shipment goes through\n- Vessels metadata for the vessels that the shipments interact with",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Booking_API"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered due to the following case conditions:\n- Invalid Payload\n    - Triggered when the payload provided in the request doesn't follow the API requirements, could be because of non-null contrainsts or missing/incorrect payload key names\n    - Resolution: Make sure the keys in the payload are correct and the carrier_no, doc_no, doc_type are not null.\n- Invalid Carrier_no\n    - Triggered when the provided carrier_no is not a valid SCAC code, or it doesn't belong to the scac synonyms\n    - Resolution: Ensure that you're using a portcast supported SCAC or SCAC Synonmyn in the payload.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "invalid payload, please refer to the detailed schema in documentation",
                                                "Invalid Carrier Number"
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "message": "invalid payload, please refer to the detailed schema in documentation"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)"
                    },
                    "403": {
                        "description": "#### API Quota Exceeded\n\nAPI Quota for the org is finished. <br>\n\n**Resolution:** <br>\nFor further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "API Quota Exceeded"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "#### [Enterprise customers] Action not available for Master Orgs\n\nThis action is not available for Master Orgs.\n\n**Resolution:** <br>\nPlease provide the correct x-customer name or use a customer org's API key to enable this action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Master org is not allowed to perform this action"
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "message": "Master org is not allowed to perform this action"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "#### Internal Server Error\n\nThese could be due to:\n- Data Sources aren't responding\n- Error in Bookmark Creation process\n- Internal Database errors\n\n**Resolution:** <br>\nFor further assistance, please reach out to your account manager or support@portcast.io"
                    }
                },
                "description": "To initiate tracking any booking or bill of lading, when you do not have the container numbers, you can use this API to trigger an upload and start tracking the containers within that booking!\n\nThis API automatically fetches the container numbers which are a part of the Booking or Bill of Lading provided by you and start tracking the same.\n\nWhen the containers are fetched, we upload them on our end and share back the [Bill of Lading Bookmark](../reference/PortcastAPI.json/components/schemas/Bill_of_Lading_Bookmark) object for your reference which can then be used to fetch tracking data for those containers.\n\nTo initiate an upload, you need to provide three inputs:\n- Carrier SCAC Code: The carrier SCAC code which helps us identify which carrier to fetch the data from\n- Document Number: Bill of Lading or Booking Number which helps us fetch the containers\n- Document Type: This helps us identify if the doc no provided is a booking number or a bill of lading number \n\nSupported carriers can be found [here](https://docs.google.com/spreadsheets/d/1l7eA1brGaEZwhUS1_xwq1puyK35maPN0T-DWwNJvnhI).",
                "tags": [
                    "Upload containers for tracking"
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "customer-ABC"
                        },
                        "in": "header",
                        "description": "[Enterprise Customers] Customer Name to indicate which org to upload too",
                        "name": "x-customer"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "carrier_no": {
                                        "type": "string",
                                        "description": "Carrier SCAC Code or Carrier Synonym (AUTO Detection Supported)"
                                    },
                                    "doc_no": {
                                        "type": "string",
                                        "description": "Booking or Bill of Lading number"
                                    },
                                    "doc_type": {
                                        "type": "string",
                                        "description": "Document number type: BK (Booking) or BL (Bill of Lading)",
                                        "enum": [
                                            "BK",
                                            "BL"
                                        ]
                                    },
                                    "callback_url": {
                                        "type": "string",
                                        "description": "A https endpoint for Portcast to push the json object whenever there are updates."
                                    }
                                },
                                "required": [
                                    "carrier_no",
                                    "doc_no",
                                    "doc_type"
                                ]
                            }
                        }
                    },
                    "description": "Upload Parameters"
                }
            }
        },
        "/eta/tracking/bill-of-lading-bookmarks": {
            "get": {
                "summary": "List Tracking data by Container, Bill of Lading or Carrier",
                "tags": [
                    "Get tracking data for uploaded containers"
                ],
                "responses": {
                    "200": {
                        "description": "#### Successfully queried for Tracking Data\n\nIf there are any results for the query the API will respond with an array of dictionaries which would contain the tracking data for each and every Bookmark which complies with the query parameters.\n\nIncase there are no results for the query, the response will consist of an empty array.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "_ended_at": "023c1c44-ff6d-4140-a8ff-7c75f8baa99c",
                                            "obj_list": []
                                        }
                                    },
                                    "properties": {
                                        "_ended_at": {
                                            "type": [
                                                "string",
                                                "null"
                                            ],
                                            "format": "uuid",
                                            "example": "023c1c44-ff6d-4140-a8ff-7c75f8baa99c"
                                        },
                                        "obj_list": {
                                            "type": [
                                                "array",
                                                "null"
                                            ],
                                            "maxItems": 5,
                                            "minItems": 0,
                                            "uniqueItems": true,
                                            "items": {
                                                "$ref": "#/components/schemas/Portcast_API"
                                            }
                                        }
                                    }
                                },
                                "examples": {}
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered if the _start_after_ provided is invalid and doesn't follow the uuid4 standards.\n\n**Resolution:** <br>\nPlease use the correct bookmark ID to be able to resolve the following error\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Invalid _start_after value. Should be a bookmark ID"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "list-api-v1-eta-bill-of-lading-bookmarks",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "CMDU"
                        },
                        "in": "query",
                        "name": "carrier_no",
                        "description": "Carrier SCAC Code"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "CNDN166131"
                        },
                        "in": "query",
                        "name": "bl_no",
                        "description": "Bill of Lading or Booking Number"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "SCTU9017654"
                        },
                        "in": "query",
                        "name": "cntr_no",
                        "description": "Container Number"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "in": "query",
                        "name": "_start_after",
                        "description": "Pagination Token"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "example": "customer-ABC"
                        },
                        "in": "header",
                        "description": "[Enterprise Customers] Customer Name to indicate which org to get tracking data from",
                        "name": "x-customer"
                    }
                ],
                "description": "Returns a list of your Tracking Data for the Bookmarks based on your query. The tracking requests are returned sorted by creation date, with the most recent tracking request appearing first. \n\nThe list API doesn't return tracking data for more than 5 bookmarks, hence there's pagination which is applied on the same!",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "parameters": []
        },
        "/eta/tracking/bill-of-lading-bookmarks/{bookmark_id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "4cbcd8ba-584e-4f76-aca7-ff388dc3e57b"
                    },
                    "name": "bookmark_id",
                    "in": "path",
                    "required": true,
                    "description": "Bill of Lading Bookmark ID"
                }
            ],
            "get": {
                "summary": "Fetch tracking data by Bookmark ID",
                "tags": [
                    "Get tracking data for uploaded containers"
                ],
                "operationId": "get-api-v1-eta-bill-of-lading-bookmarks",
                "responses": {
                    "200": {
                        "description": "#### Successfully retreived the tracking data\nThe API result consists of 4 major parts:\n1. Bill of Lading Bookmark: Summary of the Bookmark ID metadata\n2. Bill of Lading: Summary of major events that happen at POL and POD\n3. Container Events List: List of various container events received from the carrier, For more details refer to the [detailed container events explaination](docs/Container_Events_Data_Types.md)\n4. Sailing Info Tracking: An array of different legs of the journey along with a summary of major events that take place there. This also consists of a detailed schedule ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Portcast Tracking Data",
                                    "type": "object",
                                    "properties": {
                                        "obj": {
                                            "$ref": "#/components/schemas/Portcast_API",
                                            "x-stoplight": {
                                                "id": "d05h1kcdtdya4"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.\n\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "message": "Invalid bookmark id"
                                        }
                                    },
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Invalid bookmark id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "#### Bill of Lading ID not Found\n\nCould be triggered if the Bookmark ID provided is not found.\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.\n\nIn case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "error": "Record not found with give Org/Bill Of Lading ID",
                                            "message": "You have requested this URI [/api/v1/eta/tracking/bill-of-lading-bookmarks/e48cb2fb-499b-4af4-a0ef-250eac4eee5f] but did you mean /api/v1/eta/tracking/bill-of-lading-bookmarks/<bill_of_lading_bookmark_id> or /api/v1/eta/tracking/bill-of-lading-bookmarks or /api/v1/orgs/<org_id>/eta/tracking/bill-of-lading-bookmarks ?"
                                        }
                                    },
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Record not found with give Org/Bill Of Lading ID"
                                        },
                                        "message": {
                                            "type": "string",
                                            "default": "You have requested this URI [/api/v1/eta/tracking/bill-of-lading-bookmarks/e48cb2fb-499b-4af4-a0ef-250eac4eee5f] but did you mean /api/v1/eta/tracking/bill-of-lading-bookmarks/<bill_of_lading_bookmark_id> or /api/v1/eta/tracking/bill-of-lading-bookmarks or /api/v1/orgs/<org_id>/eta/tracking/bill-of-lading-bookmarks ?"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Fetch the tracking data using the Bookmark ID.",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "customer-ABC"
                        },
                        "in": "header",
                        "description": "[Enterprise Customers] Customer Name to indicate which org to get tracking data from",
                        "name": "x-customer"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/eta/tracking/bill-of-lading-bookmarks/{bookmark_id}/import_export_plan": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "4cbcd8ba-584e-4f76-aca7-ff388dc3e57b"
                    },
                    "name": "bookmark_id",
                    "in": "path",
                    "required": true,
                    "description": "Bill of Lading Bookmark ID"
                }
            ],
            "get": {
                "summary": "Fetch terminal data by Bookmark ID",
                "tags": [
                    "Sub-APIs"
                ],
                "operationId": "get-api-v1-eta-bill-of-lading-bookmarks-terminals",
                "responses": {
                    "200": {
                        "description": "#### Successfully retreived the tracking data\nThe API result consists of two major parts:\n1. Export Plan: export milestones (Gate In) and deadlines (ERD, CY cut-off) at the Port of Loading (POL);\n2. Import Plan: import milestones (Discharged, Gate Out, Last Free Day) and statuses (customs clearance, holds and available for pick up) at the Port of Discharge (POD).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Port_Terminal_Add_On",
                                    "description": "Portcast Tracking Data"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.\nOr, if there the Port or Vessel isn't fonud for the said bookmark!\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "x-examples": {
                                        "Example 1": {
                                            "message": "Invalid bookmark id"
                                        }
                                    },
                                    "anyOf": [
                                        {
                                            "description": "Error when the Vessel or Port isn't found",
                                            "properties": {
                                                "error": {
                                                    "default": "Vessel or Port not found",
                                                    "x-stoplight": {
                                                        "id": "b85bxm079nf7f"
                                                    },
                                                    "type": "string",
                                                    "description": "Error when the Vessel or Port isn't found"
                                                }
                                            }
                                        },
                                        {
                                            "x-stoplight": {
                                                "id": "0s5ojvqi2r9zv"
                                            },
                                            "description": "Error when the Bookmark ID isn't found",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "x-stoplight": {
                                                        "id": "xod9kh0jmikky"
                                                    },
                                                    "default": "Invalid bookmark id",
                                                    "description": "Error when the Bookmark ID isn't found"
                                                }
                                            }
                                        }
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: Access to this feature is not granted to the customer.\r\n\r\nPlease reach out to your account manager or support@portcast.io to have this feature enabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "x-stoplight": {
                                                "id": "m9xmw4w9h7yiv"
                                            },
                                            "default": "Terminal API not enabled for this account"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "#### Bill of Lading ID not Found\n\nCould be triggered if the Bookmark ID provided is not found.\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.\n\nIn case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "error": "Record not found with give Org/Bill Of Lading ID",
                                            "message": "You have requested this URI [/api/v1/eta/tracking/bill-of-lading-bookmarks/e48cb2fb-499b-4af4-a0ef-250eac4eee5f] but did you mean /api/v1/eta/tracking/bill-of-lading-bookmarks/<bill_of_lading_bookmark_id> or /api/v1/eta/tracking/bill-of-lading-bookmarks or /api/v1/orgs/<org_id>/eta/tracking/bill-of-lading-bookmarks ?"
                                        }
                                    },
                                    "properties": {
                                        "error": {
                                            "enum": [
                                                "Bill of Lading Not Found",
                                                "Bill of Lading Bookmark Not Found",
                                                "Sailing Info Not Found"
                                            ]
                                        },
                                        "message": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "#### Internal Server Error\n\nThese could be due to:\n- Data Sources aren't responding\n- Error in Bookmark Creation process\n- Internal Database errors\n\n**Resolution:** <br>\nFor further assistance, please reach out to your account manager or support@portcast.io"
                    }
                },
                "description": "Enhance your supply chain visibility by ingesting terminal-specific data. \n\nOnce you upload your container into Portcast system, use the Bill of Lading Bookmark ID to fetch terminal data for that container. \n\nRefer to this [coverage sheet](https://docs.google.com/spreadsheets/d/1l7eA1brGaEZwhUS1_xwq1puyK35maPN0T-DWwNJvnhI/edit#gid=118367482) for a detailed overview of the supported fields and the latest terminal coverage.\n\nTo enable this add-on, contact us at support@portcast.io. ",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "customer-ABC"
                        },
                        "in": "header",
                        "description": "[Enterprise Customers] Customer Name to indicate which org to get tracking data from",
                        "name": "x-customer"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "x-stoplight": {
                    "id": "tcxcc1zgim2qj"
                }
            }
        },
        "/eta/bill-of-lading-bookmarks/{bookmark_id}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "4cbcd8ba-584e-4f76-aca7-ff388dc3e57b"
                    },
                    "name": "bookmark_id",
                    "in": "path",
                    "required": true,
                    "description": "Bill of Lading Bookmark ID"
                }
            ],
            "delete": {
                "summary": "Archive Bookmark ID",
                "operationId": "delete-tracking-bill-of-lading-bookmarks-bookmark_id",
                "responses": {
                    "200": {
                        "description": "## Successful Operation\n\nThe provided Bookmark ID has been archived successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "success",
                                                "already deleted"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "#### Bad Request\n\nCould be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.\n\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to identify the correct Bookmark ID.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "message": "Invalid bookmark id"
                                        }
                                    },
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Invalid bookmark id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "#### Bill of Lading ID not Found\n\nCould be triggered if the Bookmark ID provided is not found.\n\n**Resolution:** <br>\nPlease use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.\n\nIn case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.\n\nFor any further assistance, please reach out to your account manager or support@portcast.io",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "error": "Record not found with give Org/Bill Of Lading ID",
                                            "message": "You have requested this URI [/api/v1/eta/tracking/bill-of-lading-bookmarks/e48cb2fb-499b-4af4-a0ef-250eac4eee5f] but did you mean /api/v1/eta/tracking/bill-of-lading-bookmarks/<bill_of_lading_bookmark_id> or /api/v1/eta/tracking/bill-of-lading-bookmarks or /api/v1/orgs/<org_id>/eta/tracking/bill-of-lading-bookmarks ?"
                                        }
                                    },
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Record not found with give Org/Bill Of Lading ID"
                                        },
                                        "message": {
                                            "type": "string",
                                            "default": "You have requested this URI [/api/v1/eta/tracking/bill-of-lading-bookmarks/e48cb2fb-499b-4af4-a0ef-250eac4eee5f] but did you mean /api/v1/eta/tracking/bill-of-lading-bookmarks/<bill_of_lading_bookmark_id> or /api/v1/eta/tracking/bill-of-lading-bookmarks or /api/v1/orgs/<org_id>/eta/tracking/bill-of-lading-bookmarks ?"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Archive a container Bookmark to stop tracking it.\n\nThis will remove the container from the refresh processes and archive the shipment.",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "example": "Customer-ABC"
                        },
                        "in": "header",
                        "name": "x-customer",
                        "description": "[Enterprise Customers] Customer Name to indicate which org the bookmark belongs to"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                },
                "tags": [
                    "Get tracking data for uploaded containers"
                ]
            }
        },
        "/eta/scac": {
            "get": {
                "summary": "Supported Carrier SCAC List",
                "tags": [
                    "Supporting API"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully responded with the supported SCAC codes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "bl_prefixes": {
                                                "type": "array",
                                                "description": "BL Prefixes observed for the carrier",
                                                "items": {
                                                    "type": "string",
                                                    "example": "MEDU"
                                                }
                                            },
                                            "full_name": {
                                                "type": "string",
                                                "description": "Full Name of the Carrier",
                                                "example": "MEDITERRANEAN SHIPPING COMPANY"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the Carrier",
                                                "example": "MSC"
                                            },
                                            "scac": {
                                                "type": "string",
                                                "description": "Official Carrier SCAC Code",
                                                "maxLength": 4,
                                                "minLength": 4,
                                                "example": "MSCU"
                                            },
                                            "scac_synonyms": {
                                                "type": "array",
                                                "description": "Other SCAC Synonyms for the carrier (If upload operation is done using any of these, we will convert it to the official SCAC)",
                                                "items": {
                                                    "type": "string",
                                                    "example": "MEDU"
                                                }
                                            },
                                            "supported_status": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "Supported Status for the carrier, will highlight here if there are any gaps for a particular carrier's coverage."
                                            },
                                            "updated": {
                                                "type": "string",
                                                "description": "Last Updated Date for the carrier scac metadata",
                                                "format": "date-time"
                                            }
                                        }
                                    }
                                },
                                "examples": {}
                            }
                        }
                    },
                    "401": {
                        "description": "#### Unauthorized Access\nYou've provided an incorrect API Key. <br>\n\n**Resolution:** <br>\nPlease check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "default": "Not authorized"
                                        }
                                    }
                                },
                                "examples": {
                                    "Error": {
                                        "value": {
                                            "error": "Not authorized"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operationId": "get-scac",
                "x-stoplight": {
                    "id": "vcjblhdh4a1p2"
                },
                "description": "API Endpoint to fetch a list of all the supported carrier SCACs for Ocean Container Visibility"
            }
        }
    },
    "components": {
        "schemas": {
            "AuthError": {
                "type": "object",
                "properties": {
                  "Error": {
                    "type": "string",
                    "example": "API Key is Invalid"
                  }
                }
              },
            "MessageModel": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "API Quota Exceeded"
                    }
                }
            },
            "Customer": {
                "type": "object",
                "properties": {
                    "created": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "required": [
                    "created",
                    "name"
                ]
            },
            "CustomersResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Customer"
                }
            },
            "CustomerRequest": {
                "type": "object",
                "properties": {
                    "customer": {
                        "type": "string"
                    }
                },
                "required": [
                    "customer"
                ]
            },
            "Portcast_API": {
                "type": "object",
                "description": "Portcast Container Visibility API",
                "x-stoplight": {
                    "id": "9afab104cb311"
                },
                "title": "Portcast API",
                "properties": {
                    "bill_of_lading": {
                        "$ref": "#/components/schemas/Bill_of_Lading",
                        "description": "Summary of the shipment's Predicted, Scheduled and Actual Events that happen at the POL and POD"
                    },
                    "bill_of_lading_bookmark": {
                        "$ref": "#/components/schemas/Bill_of_Lading_Bookmark",
                        "description": "Summary of the Bookmark ID Metadata"
                    },
                    "container_event_list": {
                        "type": "array",
                        "description": "Container Events List for the tracked shipment",
                        "items": {
                            "$ref": "#/components/schemas/Container_Event"
                        }
                    },
                    "container_metadata": {
                        "$ref": "#/components/schemas/Container_Metadata",
                        "x-stoplight": {
                            "id": "u26iyhpqljsjv"
                        }
                    },
                    "co2_emissions": {
                        "type": "object",
                        "x-stoplight": {
                            "id": "v6dt88xf7y680"
                        },
                        "description": "Carbon Dioxide Emmissions Details",
                        "properties": {
                            "total": {
                                "type": [
                                    "integer",
                                    "null"
                                ],
                                "x-stoplight": {
                                    "id": "vytob0fypz904"
                                },
                                "description": "Total emissions for each container: \r\n(gm/ TEU)\r\n\r\nSum of the emissions derived from WTT and TTW analyses. This offers the carbon footprint associated with the entire lifecycle of the shipped goods.\r\n"
                            },
                            "wtt": {
                                "type": [
                                    "integer",
                                    "null"
                                ],
                                "x-stoplight": {
                                    "id": "w0hgeor61rqjd"
                                },
                                "description": "Well-to-Tank (WTT) monitoring: \r\n(gm/ TEU)\r\n\r\nMeasurement of carbon emissions across the entire fuel supply chain; that is, the energy required to extract, produce, and transport a fuel from its source.\r\n"
                            },
                            "ttw": {
                                "type": [
                                    "integer",
                                    "null"
                                ],
                                "x-stoplight": {
                                    "id": "n81ey7bl83m0e"
                                },
                                "description": "Tank-to-Wheels (TTW) monitoring: \r\n(gm/ TEU)\r\n\r\nMeasurement of emissions generated during the actual vessel operation, providing a real-time understanding of carbon output during voyages.\r\n"
                            },
                            "intensity": {
                                "type": [
                                    "number",
                                    "null"
                                ],
                                "x-stoplight": {
                                    "id": "13c31rl3hsfff"
                                },
                                "description": "Co2e intensity: \r\n(kg/ ton-km)\r\n\r\nSignifies the carbon efficiency for each container, thus empowering stakeholders to define actions on reducing emissions.\r\n"
                            }
                        }
                    },
                    "delay_lists": {
                        "type": "array",
                        "x-stoplight": {
                            "id": "i6ufoxjznqd8e"
                        },
                        "items": {
                            "$ref": "#/components/schemas/Delay_Reasons",
                            "x-stoplight": {
                                "id": "qp96lbb3i8w59"
                            }
                        }
                    },
                    "response_id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "8d328ae1-5151-4cc0-8d8e-b9adb6dbbc69",
                        "description": "Unique ID for the API response generated",
                        "x-stoplight": {
                            "id": "4oxjcz9llltbv"
                        }
                    },
                    "msg": {
                        "type": "string",
                        "example": "Obtained latest bill of lading and container tracking information",
                        "description": "Tracking Status Message"
                    },
                    "org_id": {
                        "type": "string",
                        "description": "Customer Org (Flow) to which the bookmark ID is uploaded too",
                        "example": "d241d181-ef3d-5407-9a7e-56739dd7ae2f",
                        "format": "uuid"
                    },
                    "sailing_info_tracking": {
                        "type": "array",
                        "description": "Detailed Tracking Information for each leg of the journey",
                        "items": {
                            "$ref": "#/components/schemas/Sailing_Info_Tracking"
                        }
                    },
                    "status_info": {
                        "x-stoplight": {
                            "id": "arup3aoagntg7"
                        },
                        "description": "Status Defination Object for the [API Response](docs/Portcast-Status-Codes.md)",
                        "properties": {
                            "code": {
                                "x-stoplight": {
                                    "id": "h7chcbg29ylb6"
                                },
                                "type": "string",
                                "default": "SUCCESS"
                            },
                            "metadata": {
                                "type": "array",
                                "x-stoplight": {
                                    "id": "xztimkd6uyaem"
                                },
                                "minItems": 0,
                                "items": {
                                    "x-stoplight": {
                                        "id": "jmix4d2mysusl"
                                    },
                                    "enum": [
                                        "LATEST_PREDICTIONS_WARNING",
                                        "LATEST_PREDICTIONS_FAILED",
                                        "SAILING_INFO_TRACKING_FAILED",
                                        "BILL_OF_LADING_BOOKMARK_WARNING"
                                    ]
                                }
                            }
                        },
                        "type": "object"
                    },
                    "success": {
                        "type": "boolean",
                        "description": "Tracking Status"
                    }
                }
            },
            "Bill_of_Lading": {
                "type": "object",
                "description": "Schema for Bill of Lading Object",
                "title": "Bill of Lading",
                "properties": {
                    "bl_no": {
                        "type": "string",
                        "example": "COSU6349613240",
                        "description": "Bill of Lading or Booking Number"
                    },
                    "carrier_no": {
                        "type": "string",
                        "example": "COSU",
                        "maxLength": 4,
                        "description": "Carrier SCAC Code"
                    },
                    "cntr_no": {
                        "type": "string",
                        "example": "BMOU1589176",
                        "description": "Container Number"
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Bill of Lading Object Created Date"
                    },
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "16caa040-f582-4c15-88c9-2e80437e7916",
                        "description": "Bill of Lading Object ID"
                    },
                    "place_of_delivery": {
                        "type": "string",
                        "example": "USORF",
                        "maxLength": 5,
                        "description": "UNLOCODE for the Location of Container Delivery (After the POD)"
                    },
                    "place_of_delivery_name": {
                        "type": "string",
                        "example": "NORFOLK",
                        "description": "Name for the Location of Container Delivery (After the POD)"
                    },
                    "place_of_receipt": {
                        "type": "string",
                        "maxLength": 5,
                        "example": "GHTEM",
                        "description": "UNLOCODE for the Location of Container Receipt (Before the POL)"
                    },
                    "place_of_receipt_name": {
                        "type": "string",
                        "example": "TEMA",
                        "description": "Name for the Location of Container Receipt (Before the POL)"
                    },
                    "pod": {
                        "type": "string",
                        "example": "GHTEM",
                        "maxLength": 5,
                        "description": "UNLOCODE for the Port of Discharge"
                    },
                    "pod_actual_arrival_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Arrival for the Final Vessel at the Port of Discharge (POD) - Local Time"
                    },
                    "pod_actual_arrival_lt_from_ais": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Arrival for the Final Vessel at the Port of Discharge (POD) as per AIS Data- Local Time"
                    },
                    "pod_actual_departure_lt_from_ais": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Departure for the Final Vessel from the Port of Discharge (POD) as per AIS Data - Local Time"
                    },
                    "pod_actual_discharge_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Container Discharge Time from Final Vessel at the Port of Discharge (POD) - Local Time"
                    },
                    "pod_name": {
                        "type": "string",
                        "example": "TEMA",
                        "description": "Port of Discharge Name"
                    },
                    "pod_predicted_arrival_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Portcast Predicted Time of Arrival for the Final Vessel at the Port of Discharge (POD) - Local Time [Most Reliable Source of ETA]"
                    },
                    "pod_predicted_departure_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Portcast Predicted Time of Departure for the Final Vessel from the Port of Discharge (POD) - Local Time"
                    },
                    "pod_scheduled_arrival_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Arrival for the Final Vessel at the Port of Discharge (POD) as per carrier T&T - Local Time"
                    },
                    "pod_scheduled_arrival_lt_first_seen": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "First Recorded Scheduled Time of Arrival for the Final Vessel at the Port of Discharge (POD) as per carrier T&T - Local Time",
                        "x-stoplight": {
                            "id": "dwxjh6jwpij3r"
                        }
                    },
                    "pod_scheduled_arrival_lt_from_schedule": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Arrival for the Final Vessel at the Port of Discharge (POD) as per vessel schedule - Local Time"
                    },
                    "pod_scheduled_departure_lt_from_schedule": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Departure for the Final Vessel from the Port of Discharge (POD) as per vessel schedule - Local Time"
                    },
                    "pod_scheduled_discharge_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Carrier Scheduled Container Discharge Time from Final Vessel at the Port of Discharge (POD) - Local Time"
                    },
                    "pod_terminal_name": {
                        "type": "string",
                        "example": "MERIDIAN PORT SERVICE LIMITED",
                        "description": "Terminal Name for the Port of Discharge (POD)"
                    },
                    "pol": {
                        "type": "string",
                        "example": "USORF",
                        "maxLength": 5,
                        "description": "UNLOCODE for the Port of Loading"
                    },
                    "pol_actual_arrival_lt_from_ais": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Arrival for the First Vessel at the Port of Loading (POL) as per AIS Data - Local Time"
                    },
                    "pol_actual_departure_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Departure for the First Vessel from the Port of Loading (POL) - Local Time"
                    },
                    "pol_actual_departure_lt_from_ais": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Time of Departure for the First Vessel from the Port of Loading (POL) as per AIS Data - Local Time"
                    },
                    "pol_actual_loading_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Actual Container Loading Time on First Vessel at the Port of Loading (POL) - Local Time"
                    },
                    "pol_name": {
                        "type": "string",
                        "example": "NORFOLK",
                        "description": "Port of Loading Name"
                    },
                    "pol_predicted_arrival_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Portcast Predicted Time of Arrival for the First Vessel at the Port of Loading (POL) - Local Time"
                    },
                    "pol_predicted_departure_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Portcast Predicted Time of Departure for the First Vessel from the Port of Loading (POL) - Local Time [Most Reliable Source of ETD]"
                    },
                    "pol_scheduled_arrival_lt_from_schedule": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Arrival for the First Vessel at the Port of Loading (POL) as per Vessel Schedule - Local Time"
                    },
                    "pol_scheduled_departure_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Departure for the First Vessel from the Port of Loading (POL) as per Container T&T - Local Time"
                    },
                    "pol_scheduled_departure_lt_first_seen": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "First Recorded Scheduled Time of Departure for the First Vessel at the Port of Loading (POL) as per carrier T&T - Local Time",
                        "x-stoplight": {
                            "id": "b9kix8ldlsfgd"
                        }
                    },
                    "pol_scheduled_departure_lt_from_schedule": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Scheduled Time of Departure for the First Vessel from the Port of Loading (POL) as per Vessel Schedule - Local Time"
                    },
                    "pol_scheduled_loading_lt": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "Carrier Scheduled Container Loading Time on First Vessel at the Port of Loading (POL) - Local Time"
                    },
                    "pol_terminal_name": {
                        "type": "string",
                        "example": "PPCY EMPTY DEPOT",
                        "description": "Terminal Name for the Port of Loading (POL)"
                    },
                    "updated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Bill of Lading Object Updated Date"
                    }
                }
            },
            "Bill_of_Lading_Bookmark": {
                "type": "object",
                "description": "Schema for the Bill of Lading Bookmark Object",
                "title": "Bill of Lading Bookmark",
                "properties": {
                    "bl_no": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "example": "ONEYANRB31646600",
                        "description": "Bill of Lading No or Booking No."
                    },
                    "carrier_no": {
                        "type": "string",
                        "example": "ONEY",
                        "description": "Carrier SCAC Code"
                    },
                    "cntr_no": {
                        "type": "string",
                        "example": "TLLU1181321",
                        "description": "Container Number"
                    },
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Bookmark Upload Date"
                    },
                    "deleted": {
                        "type": "boolean",
                        "description": "Archival Status of the bookmark",
                        "default": false
                    },
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27",
                        "description": "Unique Identifier called Bill of Lading Bookmark ID [Primary Key] (Also refered as Bookmark ID)"
                    },
                    "org_id": {
                        "type": "string",
                        "example": "9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27",
                        "format": "uuid",
                        "description": "Customer Org (Flow) to which the bookmark ID is uploaded too"
                    },
                    "status": {
                        "type": "string",
                        "deprecated": true,
                        "description": "[Deprecated] Old Status codes - Not supported"
                    },
                    "status_code": {
                        "type": "string",
                        "description": "[Depricated] Old Status codes - Not supported",
                        "deprecated": true
                    },
                    "status_info": {
                        "type": "object",
                        "x-stoplight": {
                            "id": "otfd4rvy4doyf"
                        },
                        "additionalProperties": false,
                        "description": "Status Defination Object for container tracking journey stage",
                        "properties": {
                            "code": {
                                "x-stoplight": {
                                    "id": "b02826zujbz5q"
                                },
                                "enum": [
                                    "UPLOADED",
                                    "BL_NOT_FOUND",
                                    "CNTR_NOT_FOUND",
                                    "INVALID_BL_NO",
                                    "CNTR_NOT_MAPPED_TO_BL",
                                    "EARLY_JOURNEY",
                                    "JOURNEY_IN_PROGRESS",
                                    "JOURNEY_COMPLETED"
                                ],
                                "description": "[Container Journey Status](docs/Portcast-Status-Codes.md)"
                            },
                            "metadata": {
                                "type": "array",
                                "x-stoplight": {
                                    "id": "nsko4zv5462ww"
                                },
                                "maxItems": 0,
                                "items": {
                                    "x-stoplight": {
                                        "id": "tidls11wjfvsr"
                                    },
                                    "enum": []
                                }
                            }
                        }
                    },
                    "system_deleted": {
                        "type": "boolean",
                        "description": "System Deletion Status of the bookmark",
                        "default": false
                    },
                    "updated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last Updated date for the Bookmark ID\n(Refers to when we fetched the latest data for the bookmark ID)"
                    }
                }
            },
            "Container_Event": {
                "type": "object",
                "description": "Schema for Container Events; Refer to [Container Events Detail Docs](docs/Container_Events_Data_Types.md) for more details",
                "title": "Container Event",
                "properties": {
                    "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Container Event Object Created Date"
                    },
                    "event_raw": {
                        "type": "string",
                        "example": "Empty container pick-up",
                        "description": "Description of the event, as reported by the Carrier"
                    },
                    "event_time": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "example": "2023-12-29T00:00:00",
                        "description": "The latest actual date-time of the event, as reported by the Carrier - Local Time"
                    },
                    "event_time_estimated": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "example": "2023-12-29T00:00:00",
                        "description": "The latest estimated date-time of the event, as reported by the Carrier - Local Time"
                    },
[...]
