/*
Portcast API (1.1.0) - Bill of Lading Tracking

**This documentation is for the latest version of the Portcast Bill of Lading Tracking API.**  There are two variables used in this documentation: 1. `api-url`: the url to use for accessing the API. The official url is `https://api.portcast.io` 2. `x-api-key`: the access token to send along with every request to the API. This key will be provided to each organisation upon API access activation  The general workflow is as below:  1. Create the bill of lading bookmark if it does not exist already (`POST {{api-url}}/api/v1/eta/bill-of-lading-bookmarks`). 2. A bookmark must contain `carrier_no`, `bl_no` and `cntr_no` information. This will return the bill of lading bookmark information created. Record the `id` field from the response. 3. Wait for predictions to be generated. This could take up to 5 mins. 5. Query for the tracking results based on the `id` recorded earlier (`GET {{api-url}}/api/v1/eta/tracking/bill-of-lading-bookmarks/<id>`) 

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package portcast

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type BillOfLadingBookmarksApi interface {

	/*
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDelete Delete a particular bill of lading bookmark by ID

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param billOfLadingBookmarkId
	 @return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest
	*/
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDelete(ctx _context.Context, billOfLadingBookmarkId string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest

	// ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteExecute executes the request
	//  @return MessageModel
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteExecute(r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) (MessageModel, *_nethttp.Response, error)

	/*
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGet Get a particular bill of lading bookmark by ID

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param billOfLadingBookmarkId
	 @return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest
	*/
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGet(ctx _context.Context, billOfLadingBookmarkId string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest

	// ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetExecute executes the request
	//  @return BookmarkResponse
	ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetExecute(r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) (BookmarkResponse, *_nethttp.Response, error)

	/*
	ApiV1EtaBillOfLadingBookmarksGet Get a list of bookmarked bill of ladings

	This api returns 5 records at a time, please use the value of the `_ended_at` field in the response as the `_start_after` value in a subsequent request to get the next 5 records.

You could filter based the parameters listed.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @return ApiApiV1EtaBillOfLadingBookmarksGetRequest
	*/
	ApiV1EtaBillOfLadingBookmarksGet(ctx _context.Context) ApiApiV1EtaBillOfLadingBookmarksGetRequest

	// ApiV1EtaBillOfLadingBookmarksGetExecute executes the request
	//  @return InlineResponse200
	ApiV1EtaBillOfLadingBookmarksGetExecute(r ApiApiV1EtaBillOfLadingBookmarksGetRequest) (InlineResponse200, *_nethttp.Response, error)

	/*
	ApiV1EtaBillOfLadingBookmarksPost Create a new bill of lading bookmark

	Please send the bill of lading with the following fields:
```
{
    "carrier_no": <string, required, scac code of carrier, will use first 4 characters of bl_no as carrier_no if left empty>,
    "bl_no": <string, required, ocean carrier bill of lading number>,
    "cntr_no": <string, required, the container number you want to track from the bill of lading>
}
```

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @return ApiApiV1EtaBillOfLadingBookmarksPostRequest
	*/
	ApiV1EtaBillOfLadingBookmarksPost(ctx _context.Context) ApiApiV1EtaBillOfLadingBookmarksPostRequest

	// ApiV1EtaBillOfLadingBookmarksPostExecute executes the request
	//  @return Bookmark
	ApiV1EtaBillOfLadingBookmarksPostExecute(r ApiApiV1EtaBillOfLadingBookmarksPostRequest) (Bookmark, *_nethttp.Response, error)
}

// BillOfLadingBookmarksApiService BillOfLadingBookmarksApi service
type BillOfLadingBookmarksApiService service

type ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest struct {
	ctx _context.Context
	ApiService BillOfLadingBookmarksApi
	billOfLadingBookmarkId string
	accept *string
	contentType *string
	xApiKey *string
}

func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) Accept(accept string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest {
	r.accept = &accept
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) ContentType(contentType string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest {
	r.contentType = &contentType
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) XApiKey(xApiKey string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) Execute() (MessageModel, *_nethttp.Response, error) {
	return r.ApiService.ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteExecute(r)
}

/*
ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDelete Delete a particular bill of lading bookmark by ID

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param billOfLadingBookmarkId
 @return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest
*/
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDelete(ctx _context.Context, billOfLadingBookmarkId string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest {
	return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		billOfLadingBookmarkId: billOfLadingBookmarkId,
	}
}

// Execute executes the request
//  @return MessageModel
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteExecute(r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDeleteRequest) (MessageModel, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MessageModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillOfLadingBookmarksApiService.ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdDelete")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/eta/bill-of-lading-bookmarks/{bill_of_lading_bookmark_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bill_of_lading_bookmark_id"+"}", _neturl.PathEscape(parameterToString(r.billOfLadingBookmarkId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		localVarHeaderParams["Accept"] = parameterToString(*r.accept, "")
	}
	if r.contentType != nil {
		localVarHeaderParams["Content-Type"] = parameterToString(*r.contentType, "")
	}
	if r.xApiKey != nil {
		localVarHeaderParams["x-api-key"] = parameterToString(*r.xApiKey, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MessageModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest struct {
	ctx _context.Context
	ApiService BillOfLadingBookmarksApi
	billOfLadingBookmarkId string
	accept *string
	contentType *string
	xApiKey *string
}

func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) Accept(accept string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest {
	r.accept = &accept
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) ContentType(contentType string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest {
	r.contentType = &contentType
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) XApiKey(xApiKey string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest {
	r.xApiKey = &xApiKey
	return r
}

func (r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) Execute() (BookmarkResponse, *_nethttp.Response, error) {
	return r.ApiService.ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetExecute(r)
}

/*
ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGet Get a particular bill of lading bookmark by ID

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param billOfLadingBookmarkId
 @return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest
*/
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGet(ctx _context.Context, billOfLadingBookmarkId string) ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest {
	return ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest{
		ApiService: a,
		ctx: ctx,
		billOfLadingBookmarkId: billOfLadingBookmarkId,
	}
}

// Execute executes the request
//  @return BookmarkResponse
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetExecute(r ApiApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGetRequest) (BookmarkResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  BookmarkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillOfLadingBookmarksApiService.ApiV1EtaBillOfLadingBookmarksBillOfLadingBookmarkIdGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/eta/bill-of-lading-bookmarks/{bill_of_lading_bookmark_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bill_of_lading_bookmark_id"+"}", _neturl.PathEscape(parameterToString(r.billOfLadingBookmarkId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		localVarHeaderParams["Accept"] = parameterToString(*r.accept, "")
	}
	if r.contentType != nil {
		localVarHeaderParams["Content-Type"] = parameterToString(*r.contentType, "")
	}
	if r.xApiKey != nil {
		localVarHeaderParams["x-api-key"] = parameterToString(*r.xApiKey, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MessageModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1EtaBillOfLadingBookmarksGetRequest struct {
	ctx _context.Context
	ApiService BillOfLadingBookmarksApi
	accept *string
	contentType *string
	xApiKey *string
	startAfter *string
	ascending *string
	carrierNo *string
	blNo *string
	cntrNo *string
	status *string
	statusCode *string
}

func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) Accept(accept string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.accept = &accept
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) ContentType(contentType string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.contentType = &contentType
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) XApiKey(xApiKey string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.xApiKey = &xApiKey
	return r
}
// start query from after this voyage bookmark id
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) StartAfter(startAfter string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.startAfter = &startAfter
	return r
}
// if set to true, sort results based on creation time in ascending order. false by default
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) Ascending(ascending string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.ascending = &ascending
	return r
}
// filter on the carrier scac
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) CarrierNo(carrierNo string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.carrierNo = &carrierNo
	return r
}
// filter on the bill of lading number
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) BlNo(blNo string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.blNo = &blNo
	return r
}
// filter on the container number
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) CntrNo(cntrNo string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.cntrNo = &cntrNo
	return r
}
// filter on the status
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) Status(status string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.status = &status
	return r
}
// filter on the status code
func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) StatusCode(statusCode string) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	r.statusCode = &statusCode
	return r
}

func (r ApiApiV1EtaBillOfLadingBookmarksGetRequest) Execute() (InlineResponse200, *_nethttp.Response, error) {
	return r.ApiService.ApiV1EtaBillOfLadingBookmarksGetExecute(r)
}

/*
ApiV1EtaBillOfLadingBookmarksGet Get a list of bookmarked bill of ladings

This api returns 5 records at a time, please use the value of the `_ended_at` field in the response as the `_start_after` value in a subsequent request to get the next 5 records.

You could filter based the parameters listed.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1EtaBillOfLadingBookmarksGetRequest
*/
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksGet(ctx _context.Context) ApiApiV1EtaBillOfLadingBookmarksGetRequest {
	return ApiApiV1EtaBillOfLadingBookmarksGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InlineResponse200
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksGetExecute(r ApiApiV1EtaBillOfLadingBookmarksGetRequest) (InlineResponse200, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse200
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillOfLadingBookmarksApiService.ApiV1EtaBillOfLadingBookmarksGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/eta/bill-of-lading-bookmarks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.startAfter != nil {
		localVarQueryParams.Add("_start_after", parameterToString(*r.startAfter, ""))
	}
	if r.ascending != nil {
		localVarQueryParams.Add("_ascending", parameterToString(*r.ascending, ""))
	}
	if r.carrierNo != nil {
		localVarQueryParams.Add("carrier_no", parameterToString(*r.carrierNo, ""))
	}
	if r.blNo != nil {
		localVarQueryParams.Add("bl_no", parameterToString(*r.blNo, ""))
	}
	if r.cntrNo != nil {
		localVarQueryParams.Add("cntr_no", parameterToString(*r.cntrNo, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.statusCode != nil {
		localVarQueryParams.Add("status_code", parameterToString(*r.statusCode, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		localVarHeaderParams["Accept"] = parameterToString(*r.accept, "")
	}
	if r.contentType != nil {
		localVarHeaderParams["Content-Type"] = parameterToString(*r.contentType, "")
	}
	if r.xApiKey != nil {
		localVarHeaderParams["x-api-key"] = parameterToString(*r.xApiKey, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MessageModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1EtaBillOfLadingBookmarksPostRequest struct {
	ctx _context.Context
	ApiService BillOfLadingBookmarksApi
	accept *string
	contentType *string
	xApiKey *string
	body *map[string]interface{}
}

func (r ApiApiV1EtaBillOfLadingBookmarksPostRequest) Accept(accept string) ApiApiV1EtaBillOfLadingBookmarksPostRequest {
	r.accept = &accept
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksPostRequest) ContentType(contentType string) ApiApiV1EtaBillOfLadingBookmarksPostRequest {
	r.contentType = &contentType
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksPostRequest) XApiKey(xApiKey string) ApiApiV1EtaBillOfLadingBookmarksPostRequest {
	r.xApiKey = &xApiKey
	return r
}
func (r ApiApiV1EtaBillOfLadingBookmarksPostRequest) Body(body map[string]interface{}) ApiApiV1EtaBillOfLadingBookmarksPostRequest {
	r.body = &body
	return r
}

func (r ApiApiV1EtaBillOfLadingBookmarksPostRequest) Execute() (Bookmark, *_nethttp.Response, error) {
	return r.ApiService.ApiV1EtaBillOfLadingBookmarksPostExecute(r)
}

/*
ApiV1EtaBillOfLadingBookmarksPost Create a new bill of lading bookmark

Please send the bill of lading with the following fields:
```
{
    "carrier_no": <string, required, scac code of carrier, will use first 4 characters of bl_no as carrier_no if left empty>,
    "bl_no": <string, required, ocean carrier bill of lading number>,
    "cntr_no": <string, required, the container number you want to track from the bill of lading>
}
```

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1EtaBillOfLadingBookmarksPostRequest
*/
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksPost(ctx _context.Context) ApiApiV1EtaBillOfLadingBookmarksPostRequest {
	return ApiApiV1EtaBillOfLadingBookmarksPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Bookmark
func (a *BillOfLadingBookmarksApiService) ApiV1EtaBillOfLadingBookmarksPostExecute(r ApiApiV1EtaBillOfLadingBookmarksPostRequest) (Bookmark, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Bookmark
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillOfLadingBookmarksApiService.ApiV1EtaBillOfLadingBookmarksPost")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/eta/bill-of-lading-bookmarks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		localVarHeaderParams["Accept"] = parameterToString(*r.accept, "")
	}
	if r.contentType != nil {
		localVarHeaderParams["Content-Type"] = parameterToString(*r.contentType, "")
	}
	if r.xApiKey != nil {
		localVarHeaderParams["x-api-key"] = parameterToString(*r.xApiKey, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v MessageModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
