openapi: 3.1.0
info:
  contact:
    email: support@portcast.io
    name: Portcast Support Team
    url: https://portcast.io
  description: |-
    This documentation defines how the users can utilize the Portcast API to retrieve the latest Track and Trace Data for any container, bill of lading or booking across 100+ carriers and 2500+ ports across the globe.

    What's changed in the version 2.0?
    Find out more about it [here](https://support.portcast.io/support/solutions/articles/151000074289-api-release-notes-april-2023-)!!
  license:
    name: Portcast
    url: https://portcast.io
  termsOfService: https://portcast.io/terms-of-use.pdf
  title: Container Tracking API
  version: "2.0"
servers:
- description: Production
  url: https://api.portcast.io/api/v2
security:
- x-api-key: []
tags:
- description: Endpoints for the upload workflow
  name: Upload containers for tracking
- description: Endpoints to get tracking data
  name: Get tracking data for uploaded containers
- description: Endpoint to get more granular detailed visibility data
  name: Sub-APIs
- description: Endpoints to fetch supporting metadata
  name: Supporting API
paths:
  /org/customers:
    get:
      operationId: ListCustomers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersResponse'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: Internal server error / Unexpected error
      security:
      - x-api-key: []
      summary: Get a list of customers
      tags:
      - Customers
    post:
      operationId: CreateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthError'
          description: Invalid API key
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: Internal server error / Unexpect error
      security:
      - x-api-key: []
      summary: Create a new customer
      tags:
      - Customers
  /eta/bill-of-lading-bookmarks:
    post:
      description: |-
        *To track shipment, you need to provide three inputs:*

        - Carrier SCAC code: This helps us to identify which carrier to fetch the data from, use AUTO if you don't know. If AUTO is used the bill of lading number is disregarded, only container number is used and the data return is for the latest journey of the container.
        - Bill of Lading or Booking Number: This helps us to fetch the correct journey along with detailed tracking data
        - Container Number: This helps us to identify which container you intend to track within the Booking

        Incase of any missing inputs, refer to [Input Data Guide](docs/Input_Data_Guide.md) for more details!
      operationId: post-eta-bill-of-lading-bookmarks
      parameters:
      - description: "[Enterprise Customers] Customer Name to indicate which org to\
          \ upload too"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: customer-ABC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  carrier_no: CMDU
                  bl_no: MXO0630199
                  cntr_no: SEKU5684297
            schema:
              $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_request'
        description: Upload Parameters
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_200_response'
          description: |-
            #### Upload Successful

            Once the container is successfully uploaded the API Responds with the Bill of Lading Bookmark Object.

            The bill of lading bookmark object consists of the metadata for your upload.

            Key features to note for the same:
            - The ID returned is the primary key which helps us identify each unique upload in our system and can help you retrieve the latest tracking data for the same. This ID is also called as Bill of Lading Bookmark ID or Bookmark ID.
            - The created timestamp defines when the bookmark was created.
            - The updated timestamp defines when the bookmark was last refreshed, i.e. when we retrieved the tracking information last for the bookmark.
            - The status defines at which stage of the journey the bookmark is on.
            - Org ID defines which flow/customer org the bookmark is created in.
        "400":
          content:
            application/json:
              examples:
                Container Error:
                  value:
                    message: Invalid Container Number
                Payload Error:
                  value:
                    message: "invalid payload, please refer to the detailed schema\
                      \ in documentation"
                Carrier Number Error:
                  value:
                    message: Invalid Carrier Number
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_400_response'
          description: |-
            #### Bad Request

            Could be triggered due to the following case conditions:
            - Invalid Payload
                - Triggered when the payload provided in the request doesn't follow the API requirements, could be because of non-null contrainsts or missing/incorrect payload key names
                - Resolution: Make sure the keys in the payload are correct and the carrier_no, bl_no, cntr_no are not null.
            - Invalid Carrier_no
                - Triggered when the provided carrier_no is not a valid SCAC code, or it doesn't belong to the scac synonyms
                - Resolution: Ensure that you're using a portcast supported SCAC or SCAC Synonmyn in the payload.
            - Invalid Container Number
                - Triggered when the container number provided doesn't follow the ISO 6346 standards
                - Resolution: Ensure that the container number used to make the upload follows the [ISO 6346 standards](https://en.wikipedia.org/wiki/ISO_6346#Check_digit)
        "401":
          content:
            application/json:
              examples:
                API Key Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
        "403":
          content:
            application/json:
              examples:
                Quota Error:
                  value:
                    message: API Quota Exceeded
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_403_response'
          description: |-
            #### API Quota Exceeded

            API Quota for the org is finished. <br>

            **Resolution:** <br>
            For further assistance, please reach out to your account manager or support@portcast.io
        "409":
          content:
            application/json:
              examples:
                Duplicate Error:
                  value:
                    message: Record already exists
                    previous_ids:
                    - c7ca3acb-aa73-40c8-884d-928b9a5aceac
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_409_response'
          description: |-
            #### Duplicate Upload ~ Record Already Exists

            A bookmark with the same Carrier-BL/Booking Number-Container Number combination exists in the same org.

            **Resolution:** <br>
            The API responds with the Bookmark ID for the same, which can be used to fetch the data.
        "500":
          description: |-
            #### Internal Server Error

            These could be due to:
            - Data Sources aren't responding
            - Error in Bookmark Creation process
            - Internal Database errors

            **Resolution:** <br>
            For further assistance, please reach out to your account manager or support@portcast.io
      summary: Upload using Container Number
      tags:
      - Upload containers for tracking
  /eta/booking:
    post:
      description: "To initiate tracking any booking or bill of lading, when you do\
        \ not have the container numbers, you can use this API to trigger an upload\
        \ and start tracking the containers within that booking!\n\nThis API automatically\
        \ fetches the container numbers which are a part of the Booking or Bill of\
        \ Lading provided by you and start tracking the same.\n\nWhen the containers\
        \ are fetched, we upload them on our end and share back the [Bill of Lading\
        \ Bookmark](../reference/PortcastAPI.json/components/schemas/Bill_of_Lading_Bookmark)\
        \ object for your reference which can then be used to fetch tracking data\
        \ for those containers.\n\nTo initiate an upload, you need to provide three\
        \ inputs:\n- Carrier SCAC Code: The carrier SCAC code which helps us identify\
        \ which carrier to fetch the data from\n- Document Number: Bill of Lading\
        \ or Booking Number which helps us fetch the containers\n- Document Type:\
        \ This helps us identify if the doc no provided is a booking number or a bill\
        \ of lading number \n\nSupported carriers can be found [here](https://docs.google.com/spreadsheets/d/1l7eA1brGaEZwhUS1_xwq1puyK35maPN0T-DWwNJvnhI)."
      operationId: post-booking
      parameters:
      - description: "[Enterprise Customers] Customer Name to indicate which org to\
          \ upload too"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: customer-ABC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_booking_request'
        description: Upload Parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking_API'
          description: |-
            #### Upload Successful

            The API Responds with the list of containers that are uploaded, along with the response object which would consist of the Bill of lading bookmark object for each container, the ID provided with in each Bill of Lading Bookmark object would be used to fetch the tracking data for the respective container.

            In case of any error within the process, the same would be highlighted in the message object of the response. The details for the same can be found in: [Status Codes](https://portcast.stoplight.io/docs/portcast-api/jm8coczry4gxb-status-codes#booking-api-statuses)

            If the bookmark for a container already exists in our system, then the API responds with the Bookmark ID for that container within the response object.

            In addition to the same, this endpoint also shares some metadata for the booking:
            - The route of the shipments along with POL, POD, pre-POL and post-POD locations
            - Locations metadata for the ports the shipment goes through
            - Vessels metadata for the vessels that the shipments interact with
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    message: "invalid payload, please refer to the detailed schema\
                      \ in documentation"
              schema:
                $ref: '#/components/schemas/post_booking_400_response'
          description: |-
            #### Bad Request

            Could be triggered due to the following case conditions:
            - Invalid Payload
                - Triggered when the payload provided in the request doesn't follow the API requirements, could be because of non-null contrainsts or missing/incorrect payload key names
                - Resolution: Make sure the keys in the payload are correct and the carrier_no, doc_no, doc_type are not null.
            - Invalid Carrier_no
                - Triggered when the provided carrier_no is not a valid SCAC code, or it doesn't belong to the scac synonyms
                - Resolution: Ensure that you're using a portcast supported SCAC or SCAC Synonmyn in the payload.
        "401":
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_403_response'
          description: |-
            #### API Quota Exceeded

            API Quota for the org is finished. <br>

            **Resolution:** <br>
            For further assistance, please reach out to your account manager or support@portcast.io
        "422":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    message: Master org is not allowed to perform this action
              schema:
                $ref: '#/components/schemas/post_booking_422_response'
          description: |-
            #### [Enterprise customers] Action not available for Master Orgs

            This action is not available for Master Orgs.

            **Resolution:** <br>
            Please provide the correct x-customer name or use a customer org's API key to enable this action.
        "500":
          description: |-
            #### Internal Server Error

            These could be due to:
            - Data Sources aren't responding
            - Error in Bookmark Creation process
            - Internal Database errors

            **Resolution:** <br>
            For further assistance, please reach out to your account manager or support@portcast.io
      summary: Upload using Booking/Bill of Lading
      tags:
      - Upload containers for tracking
  /eta/tracking/bill-of-lading-bookmarks:
    get:
      description: "Returns a list of your Tracking Data for the Bookmarks based on\
        \ your query. The tracking requests are returned sorted by creation date,\
        \ with the most recent tracking request appearing first. \n\nThe list API\
        \ doesn't return tracking data for more than 5 bookmarks, hence there's pagination\
        \ which is applied on the same!"
      operationId: list-api-v1-eta-bill-of-lading-bookmarks
      parameters:
      - description: Carrier SCAC Code
        explode: true
        in: query
        name: carrier_no
        required: false
        schema:
          example: CMDU
          type: string
        style: form
      - description: Bill of Lading or Booking Number
        explode: true
        in: query
        name: bl_no
        required: false
        schema:
          example: CNDN166131
          type: string
        style: form
      - description: Container Number
        explode: true
        in: query
        name: cntr_no
        required: false
        schema:
          example: SCTU9017654
          type: string
        style: form
      - description: Pagination Token
        explode: true
        in: query
        name: _start_after
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "[Enterprise Customers] Customer Name to indicate which org to\
          \ get tracking data from"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: customer-ABC
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/list_api_v1_eta_bill_of_lading_bookmarks_200_response'
          description: |-
            #### Successfully queried for Tracking Data

            If there are any results for the query the API will respond with an array of dictionaries which would contain the tracking data for each and every Bookmark which complies with the query parameters.

            Incase there are no results for the query, the response will consist of an empty array.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_api_v1_eta_bill_of_lading_bookmarks_400_response'
          description: |-
            #### Bad Request

            Could be triggered if the _start_after_ provided is invalid and doesn't follow the uuid4 standards.

            **Resolution:** <br>
            Please use the correct bookmark ID to be able to resolve the following error

            For any further assistance, please reach out to your account manager or support@portcast.io
        "401":
          content:
            application/json:
              examples:
                Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
      summary: "List Tracking data by Container, Bill of Lading or Carrier"
      tags:
      - Get tracking data for uploaded containers
  /eta/tracking/bill-of-lading-bookmarks/{bookmark_id}:
    get:
      description: Fetch the tracking data using the Bookmark ID.
      operationId: get-api-v1-eta-bill-of-lading-bookmarks
      parameters:
      - description: "[Enterprise Customers] Customer Name to indicate which org to\
          \ get tracking data from"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: customer-ABC
          type: string
        style: simple
      - description: Bill of Lading Bookmark ID
        explode: false
        in: path
        name: bookmark_id
        required: true
        schema:
          example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_200_response'
          description: "#### Successfully retreived the tracking data\nThe API result\
            \ consists of 4 major parts:\n1. Bill of Lading Bookmark: Summary of the\
            \ Bookmark ID metadata\n2. Bill of Lading: Summary of major events that\
            \ happen at POL and POD\n3. Container Events List: List of various container\
            \ events received from the carrier, For more details refer to the [detailed\
            \ container events explaination](docs/Container_Events_Data_Types.md)\n\
            4. Sailing Info Tracking: An array of different legs of the journey along\
            \ with a summary of major events that take place there. This also consists\
            \ of a detailed schedule "
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_400_response'
          description: |-
            #### Bad Request

            Could be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.


            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.

            For any further assistance, please reach out to your account manager or support@portcast.io
        "401":
          content:
            application/json:
              examples:
                Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_404_response'
          description: |-
            #### Bill of Lading ID not Found

            Could be triggered if the Bookmark ID provided is not found.

            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.

            In case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.

            For any further assistance, please reach out to your account manager or support@portcast.io
      summary: Fetch tracking data by Bookmark ID
      tags:
      - Get tracking data for uploaded containers
    parameters:
    - description: Bill of Lading Bookmark ID
      explode: false
      in: path
      name: bookmark_id
      required: true
      schema:
        example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
        format: uuid
        type: string
      style: simple
  /eta/tracking/bill-of-lading-bookmarks/{bookmark_id}/import_export_plan:
    get:
      description: "Enhance your supply chain visibility by ingesting terminal-specific\
        \ data. \n\nOnce you upload your container into Portcast system, use the Bill\
        \ of Lading Bookmark ID to fetch terminal data for that container. \n\nRefer\
        \ to this [coverage sheet](https://docs.google.com/spreadsheets/d/1l7eA1brGaEZwhUS1_xwq1puyK35maPN0T-DWwNJvnhI/edit#gid=118367482)\
        \ for a detailed overview of the supported fields and the latest terminal\
        \ coverage.\n\nTo enable this add-on, contact us at support@portcast.io. "
      operationId: get-api-v1-eta-bill-of-lading-bookmarks-terminals
      parameters:
      - description: "[Enterprise Customers] Customer Name to indicate which org to\
          \ get tracking data from"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: customer-ABC
          type: string
        style: simple
      - description: Bill of Lading Bookmark ID
        explode: false
        in: path
        name: bookmark_id
        required: true
        schema:
          example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port_Terminal_Add_On'
          description: |-
            #### Successfully retreived the tracking data
            The API result consists of two major parts:
            1. Export Plan: export milestones (Gate In) and deadlines (ERD, CY cut-off) at the Port of Loading (POL);
            2. Import Plan: import milestones (Discharged, Gate Out, Last Free Day) and statuses (customs clearance, holds and available for pick up) at the Port of Discharge (POD).
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_terminals_400_response'
          description: |-
            #### Bad Request

            Could be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.
            Or, if there the Port or Vessel isn't fonud for the said bookmark!

            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.

            For any further assistance, please reach out to your account manager or support@portcast.io
        "401":
          content:
            application/json:
              examples:
                Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_terminals_403_response'
          description: "Forbidden: Access to this feature is not granted to the customer.\r\
            \n\r\nPlease reach out to your account manager or support@portcast.io\
            \ to have this feature enabled."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_terminals_404_response'
          description: |-
            #### Bill of Lading ID not Found

            Could be triggered if the Bookmark ID provided is not found.

            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.

            In case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.

            For any further assistance, please reach out to your account manager or support@portcast.io
        "500":
          description: |-
            #### Internal Server Error

            These could be due to:
            - Data Sources aren't responding
            - Error in Bookmark Creation process
            - Internal Database errors

            **Resolution:** <br>
            For further assistance, please reach out to your account manager or support@portcast.io
      summary: Fetch terminal data by Bookmark ID
      tags:
      - Sub-APIs
      x-stoplight:
        id: tcxcc1zgim2qj
    parameters:
    - description: Bill of Lading Bookmark ID
      explode: false
      in: path
      name: bookmark_id
      required: true
      schema:
        example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
        format: uuid
        type: string
      style: simple
  /eta/bill-of-lading-bookmarks/{bookmark_id}:
    delete:
      description: |-
        Archive a container Bookmark to stop tracking it.

        This will remove the container from the refresh processes and archive the shipment.
      operationId: delete-tracking-bill-of-lading-bookmarks-bookmark_id
      parameters:
      - description: "[Enterprise Customers] Customer Name to indicate which org the\
          \ bookmark belongs to"
        explode: false
        in: header
        name: x-customer
        required: false
        schema:
          example: Customer-ABC
          type: string
        style: simple
      - description: Bill of Lading Bookmark ID
        explode: false
        in: path
        name: bookmark_id
        required: true
        schema:
          example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete_tracking_bill_of_lading_bookmarks_bookmark_id_200_response'
          description: |-
            ## Successful Operation

            The provided Bookmark ID has been archived successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_400_response'
          description: |-
            #### Bad Request

            Could be triggered if the Bookmark ID provided is invalid and doesn't follow the uuid4 standards.


            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to identify the correct Bookmark ID.

            For any further assistance, please reach out to your account manager or support@portcast.io
        "401":
          content:
            application/json:
              examples:
                Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_v1_eta_bill_of_lading_bookmarks_404_response'
          description: |-
            #### Bill of Lading ID not Found

            Could be triggered if the Bookmark ID provided is not found.

            **Resolution:** <br>
            Please use [query the endpoint](../reference/PortcastAPI.json/paths/~1tracking~1bill-of-lading-bookmarks/get) for the said Booking or Container to get the tracking data and identify the correct Bookmark ID.

            In case you're an enterprise customer with multiple API keys, Please make sure that you're using the API key for the correct customer org or are using the currect `x-customer` name in the header.

            For any further assistance, please reach out to your account manager or support@portcast.io
      summary: Archive Bookmark ID
      tags:
      - Get tracking data for uploaded containers
    parameters:
    - description: Bill of Lading Bookmark ID
      explode: false
      in: path
      name: bookmark_id
      required: true
      schema:
        example: 4cbcd8ba-584e-4f76-aca7-ff388dc3e57b
        format: uuid
        type: string
      style: simple
  /eta/scac:
    get:
      description: API Endpoint to fetch a list of all the supported carrier SCACs
        for Ocean Container Visibility
      operationId: get-scac
      responses:
        "200":
          content:
            application/json:
              examples: {}
              schema:
                items:
                  $ref: '#/components/schemas/get_scac_200_response_inner'
                type: array
          description: Successfully responded with the supported SCAC codes
        "401":
          content:
            application/json:
              examples:
                Error:
                  value:
                    error: Not authorized
              schema:
                $ref: '#/components/schemas/post_eta_bill_of_lading_bookmarks_401_response'
          description: |-
            #### Unauthorized Access
            You've provided an incorrect API Key. <br>

            **Resolution:** <br>
            Please check your API Key. Refer to the [before you begin section of the Quick Start Guide.](docs/Quick_Start_Guide.md)
      summary: Supported Carrier SCAC List
      tags:
      - Supporting API
      x-stoplight:
        id: vcjblhdh4a1p2
components:
  schemas:
    AuthError:
      example:
        Error: API Key is Invalid
      properties:
        Error:
          example: API Key is Invalid
          type: string
    MessageModel:
      example:
        message: API Quota Exceeded
      properties:
        message:
          example: API Quota Exceeded
          type: string
    Customer:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        name: name
      properties:
        created:
          format: date-time
          type: string
        name:
          type: string
      required:
      - created
      - name
    CustomersResponse:
      items:
        $ref: '#/components/schemas/Customer'
      type: array
    CustomerRequest:
      example:
        customer: customer
      properties:
        customer:
          type: string
      required:
      - customer
    Portcast_API:
      description: Portcast Container Visibility API
      example:
        msg: Obtained latest bill of lading and container tracking information
        bill_of_lading_bookmark:
          bl_no: ONEYANRB31646600
          cntr_no: TLLU1181321
          deleted: false
          status_code: status_code
          created: 2000-01-23T04:56:07.000+00:00
          org_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          status_info:
            metadata: []
            code: UPLOADED
          carrier_no: ONEY
          id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          system_deleted: false
          updated: 2000-01-23T04:56:07.000+00:00
          status: status
        container_event_list:
        - created: 2000-01-23T04:56:07.000+00:00
          event_raw: Empty container pick-up
          vessel_imo: 9751107
          event_time_estimated: 2023-12-29T00:00:00
          event_type_code: PICKUP
          terminal_details:
            terminal_code_source: BIC
            terminal_name: XIAMEN OCEAN GATE TERMINAL
            terminal_code: XOGT
          vessel_name: GEMLIK EXPRESS
          event_type_name: Empty container pick-up
          mode_of_transport: TRUCK
          port_name: XIAMEN
          location_raw: Xiamen
          id: c5f7acd1-28e6-4d98-996f-c214418adcc3
          location_type_name: Place of receipt
          location_type_code: POR
          updated: 2000-01-23T04:56:07.000+00:00
          event_time: 2023-12-29T00:00:00
          port_code: CNXMG
        - created: 2000-01-23T04:56:07.000+00:00
          event_raw: Empty container pick-up
          vessel_imo: 9751107
          event_time_estimated: 2023-12-29T00:00:00
          event_type_code: PICKUP
          terminal_details:
            terminal_code_source: BIC
            terminal_name: XIAMEN OCEAN GATE TERMINAL
            terminal_code: XOGT
          vessel_name: GEMLIK EXPRESS
          event_type_name: Empty container pick-up
          mode_of_transport: TRUCK
          port_name: XIAMEN
          location_raw: Xiamen
          id: c5f7acd1-28e6-4d98-996f-c214418adcc3
          location_type_name: Place of receipt
          location_type_code: POR
          updated: 2000-01-23T04:56:07.000+00:00
          event_time: 2023-12-29T00:00:00
          port_code: CNXMG
        sailing_info_tracking:
        - msg: AIS successfully fetched
          success: true
          sailing_info:
            vessel_flag: SG
            voyage_no: CG303R
            pol_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod: ESBCN
            pod_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod_scheduled_discharge_lt: 2000-01-23T04:56:07.000+00:00
            imo: "9306172"
            pol_actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            pol: USHOU
            pol_scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            pod_actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_actual_discharge_lt: 2000-01-23T04:56:07.000+00:00
            pol_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pod_terminal_name: BARCELONA EUROPE SOUTH TERMINAL
            id: 94e3dc60-2039-4a54-a88c-7c5885fd7988
            pol_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            vessel_leg: 1
            is_active: true
            pod_scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            created: 2000-01-23T04:56:07.000+00:00
            vessel_name: MAERSK PUELO
            pol_name: HOUSTON
            pod_name: BARCELONA
            pod_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            pol_terminal_name: BAYPORT TERMINAL
            pol_scheduled_loading_lt: 2000-01-23T04:56:07.000+00:00
            carrier_no: CMDU
            pol_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pod_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            updated: 2000-01-23T04:56:07.000+00:00
            pol_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pol_actual_loading_lt: 2000-01-23T04:56:07.000+00:00
            pol_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          status_info:
            vessel:
              metadata:
              - LATEST_VESSEL_PORTCALLS_NOT_FOUND
              - LATEST_VESSEL_PORTCALLS_NOT_FOUND
              code: INIT
            prediction:
              metadata:
              - PREDICTIONS_NOT_ENABLED
              - PREDICTIONS_NOT_ENABLED
              code: INIT
          ais:
            timestamp_utc: 2000-01-23T04:56:07.000+00:00
            course: 154
            imo: "9306172"
            lon: -78.766
            lat: 26.527666
            speed_nm: 8.2
            status: 0
          voyage_details:
          - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
            timezone: UTC +2
            predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            index: 1
            lon: 15.901825
            predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            port_name: GIOIA TAURO
            scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
            prediction_time_utc: 2000-01-23T04:56:07.000+00:00
            actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_utc: 2000-01-23T04:56:07.000+00:00
            voyage_no_list:
            - CG303R
            - CG303R
            delay_reasons:
            - Expected waiting time at port NORFOLK is 26.91 hours
            - Expected waiting time at port NORFOLK is 26.91 hours
            id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
            active_scac: CMDU
            lat: 38.45494
            predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
            port_code: ITGIT
          - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
            timezone: UTC +2
            predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            index: 1
            lon: 15.901825
            predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            port_name: GIOIA TAURO
            scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
            prediction_time_utc: 2000-01-23T04:56:07.000+00:00
            actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_utc: 2000-01-23T04:56:07.000+00:00
            voyage_no_list:
            - CG303R
            - CG303R
            delay_reasons:
            - Expected waiting time at port NORFOLK is 26.91 hours
            - Expected waiting time at port NORFOLK is 26.91 hours
            id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
            active_scac: CMDU
            lat: 38.45494
            predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
            port_code: ITGIT
        - msg: AIS successfully fetched
          success: true
          sailing_info:
            vessel_flag: SG
            voyage_no: CG303R
            pol_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod: ESBCN
            pod_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod_scheduled_discharge_lt: 2000-01-23T04:56:07.000+00:00
            imo: "9306172"
            pol_actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            pol: USHOU
            pol_scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            pod_actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_actual_discharge_lt: 2000-01-23T04:56:07.000+00:00
            pol_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pod_terminal_name: BARCELONA EUROPE SOUTH TERMINAL
            id: 94e3dc60-2039-4a54-a88c-7c5885fd7988
            pol_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            vessel_leg: 1
            is_active: true
            pod_scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            pod_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            created: 2000-01-23T04:56:07.000+00:00
            vessel_name: MAERSK PUELO
            pol_name: HOUSTON
            pod_name: BARCELONA
            pod_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            pol_terminal_name: BAYPORT TERMINAL
            pol_scheduled_loading_lt: 2000-01-23T04:56:07.000+00:00
            carrier_no: CMDU
            pol_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
            pod_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pod_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            updated: 2000-01-23T04:56:07.000+00:00
            pol_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
            pol_actual_loading_lt: 2000-01-23T04:56:07.000+00:00
            pol_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          status_info:
            vessel:
              metadata:
              - LATEST_VESSEL_PORTCALLS_NOT_FOUND
              - LATEST_VESSEL_PORTCALLS_NOT_FOUND
              code: INIT
            prediction:
              metadata:
              - PREDICTIONS_NOT_ENABLED
              - PREDICTIONS_NOT_ENABLED
              code: INIT
          ais:
            timestamp_utc: 2000-01-23T04:56:07.000+00:00
            course: 154
            imo: "9306172"
            lon: -78.766
            lat: 26.527666
            speed_nm: 8.2
            status: 0
          voyage_details:
          - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
            timezone: UTC +2
            predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            index: 1
            lon: 15.901825
            predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            port_name: GIOIA TAURO
            scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
            prediction_time_utc: 2000-01-23T04:56:07.000+00:00
            actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_utc: 2000-01-23T04:56:07.000+00:00
            voyage_no_list:
            - CG303R
            - CG303R
            delay_reasons:
            - Expected waiting time at port NORFOLK is 26.91 hours
            - Expected waiting time at port NORFOLK is 26.91 hours
            id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
            active_scac: CMDU
            lat: 38.45494
            predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
            port_code: ITGIT
          - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
            timezone: UTC +2
            predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
            index: 1
            lon: 15.901825
            predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_lt: 2000-01-23T04:56:07.000+00:00
            port_name: GIOIA TAURO
            scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
            prediction_time_utc: 2000-01-23T04:56:07.000+00:00
            actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
            predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
            scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
            actual_departure_utc: 2000-01-23T04:56:07.000+00:00
            voyage_no_list:
            - CG303R
            - CG303R
            delay_reasons:
            - Expected waiting time at port NORFOLK is 26.91 hours
            - Expected waiting time at port NORFOLK is 26.91 hours
            id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
            active_scac: CMDU
            lat: 38.45494
            predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
            port_code: ITGIT
        container_metadata:
          external_width_ft: 7.99
          cntr_no: TLLU1181321
          detail_st: 42G1
          external_height_ft: 8.51
          external_length_ft: 40
        response_id: 8d328ae1-5151-4cc0-8d8e-b9adb6dbbc69
        org_id: d241d181-ef3d-5407-9a7e-56739dd7ae2f
        success: true
        status_info:
          metadata: []
          code: SUCCESS
        bill_of_lading:
          bl_no: COSU6349613240
          cntr_no: BMOU1589176
          pol_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          pod: GHTEM
          pod_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          place_of_delivery_name: NORFOLK
          place_of_receipt_name: TEMA
          pod_scheduled_discharge_lt: 2000-01-23T04:56:07.000+00:00
          pol_actual_departure_lt: 2000-01-23T04:56:07.000+00:00
          pol: USORF
          pol_scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
          pod_actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_actual_discharge_lt: 2000-01-23T04:56:07.000+00:00
          pol_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pod_terminal_name: MERIDIAN PORT SERVICE LIMITED
          id: 16caa040-f582-4c15-88c9-2e80437e7916
          pol_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pol_scheduled_departure_lt_first_seen: 2000-01-23T04:56:07.000+00:00
          place_of_delivery: USORF
          pod_scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          created: 2000-01-23T04:56:07.000+00:00
          pol_name: NORFOLK
          pod_scheduled_arrival_lt_first_seen: 2000-01-23T04:56:07.000+00:00
          pod_name: TEMA
          place_of_receipt: GHTEM
          pod_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          pol_terminal_name: PPCY EMPTY DEPOT
          pol_scheduled_loading_lt: 2000-01-23T04:56:07.000+00:00
          carrier_no: COSU
          pol_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          pod_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pod_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          updated: 2000-01-23T04:56:07.000+00:00
          pol_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pol_actual_loading_lt: 2000-01-23T04:56:07.000+00:00
          pol_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
        delay_lists:
        - port_name: XIAMEN
          reason_code: RLV
          delay_description: Container rolled over to another vessel at POL
          schedule_change:
          - old_date: 2000-01-23T04:56:07.000+00:00
            event_type_code: ARRIVE
            new_date: 2000-01-23T04:56:07.000+00:00
            location_type_code: POL
          - old_date: 2000-01-23T04:56:07.000+00:00
            event_type_code: ARRIVE
            new_date: 2000-01-23T04:56:07.000+00:00
            location_type_code: POL
          rotation_change:
            comparison_schedule:
            - CNSHG
            - CNSHG
            updated_schedule:
            - CNYTN
            - CNYTN
          vessel_change:
            updated_vessel: 9604108
            comparison_vessel: 9839208
          created: 2000-01-23T04:56:07.000+00:00
          location_type_code: POL
          port_code: CNXMG
        - port_name: XIAMEN
          reason_code: RLV
          delay_description: Container rolled over to another vessel at POL
          schedule_change:
          - old_date: 2000-01-23T04:56:07.000+00:00
            event_type_code: ARRIVE
            new_date: 2000-01-23T04:56:07.000+00:00
            location_type_code: POL
          - old_date: 2000-01-23T04:56:07.000+00:00
            event_type_code: ARRIVE
            new_date: 2000-01-23T04:56:07.000+00:00
            location_type_code: POL
          rotation_change:
            comparison_schedule:
            - CNSHG
            - CNSHG
            updated_schedule:
            - CNYTN
            - CNYTN
          vessel_change:
            updated_vessel: 9604108
            comparison_vessel: 9839208
          created: 2000-01-23T04:56:07.000+00:00
          location_type_code: POL
          port_code: CNXMG
        co2_emissions:
          intensity: 5.962133916683182
          total: 0
          wtt: 6
          ttw: 1
      properties:
        bill_of_lading:
          $ref: '#/components/schemas/Bill_of_Lading'
        bill_of_lading_bookmark:
          $ref: '#/components/schemas/Bill_of_Lading_Bookmark'
        container_event_list:
          description: Container Events List for the tracked shipment
          items:
            $ref: '#/components/schemas/Container_Event'
          type: array
        container_metadata:
          $ref: '#/components/schemas/Container_Metadata'
        co2_emissions:
          $ref: '#/components/schemas/Portcast_API_co2_emissions'
        delay_lists:
          items:
            $ref: '#/components/schemas/Delay_Reasons'
          type: array
          x-stoplight:
            id: i6ufoxjznqd8e
        response_id:
          description: Unique ID for the API response generated
          example: 8d328ae1-5151-4cc0-8d8e-b9adb6dbbc69
          format: uuid
          type: string
          x-stoplight:
            id: 4oxjcz9llltbv
        msg:
          description: Tracking Status Message
          example: Obtained latest bill of lading and container tracking information
          type: string
        org_id:
          description: Customer Org (Flow) to which the bookmark ID is uploaded too
          example: d241d181-ef3d-5407-9a7e-56739dd7ae2f
          format: uuid
          type: string
        sailing_info_tracking:
          description: Detailed Tracking Information for each leg of the journey
          items:
            $ref: '#/components/schemas/Sailing_Info_Tracking'
          type: array
        status_info:
          $ref: '#/components/schemas/Portcast_API_status_info'
        success:
          description: Tracking Status
          type: boolean
      title: Portcast API
      x-stoplight:
        id: 9afab104cb311
    Bill_of_Lading:
      description: Schema for Bill of Lading Object
      example:
        bl_no: COSU6349613240
        cntr_no: BMOU1589176
        pol_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
        pod: GHTEM
        pod_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
        place_of_delivery_name: NORFOLK
        place_of_receipt_name: TEMA
        pod_scheduled_discharge_lt: 2000-01-23T04:56:07.000+00:00
        pol_actual_departure_lt: 2000-01-23T04:56:07.000+00:00
        pol: USORF
        pol_scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
        pod_actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
        pod_actual_discharge_lt: 2000-01-23T04:56:07.000+00:00
        pol_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
        pod_terminal_name: MERIDIAN PORT SERVICE LIMITED
        id: 16caa040-f582-4c15-88c9-2e80437e7916
        pol_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
        pod_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
        pol_scheduled_departure_lt_first_seen: 2000-01-23T04:56:07.000+00:00
        place_of_delivery: USORF
        pod_scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
        pod_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
        created: 2000-01-23T04:56:07.000+00:00
        pol_name: NORFOLK
        pod_scheduled_arrival_lt_first_seen: 2000-01-23T04:56:07.000+00:00
        pod_name: TEMA
        place_of_receipt: GHTEM
        pod_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
        pol_terminal_name: PPCY EMPTY DEPOT
        pol_scheduled_loading_lt: 2000-01-23T04:56:07.000+00:00
        carrier_no: COSU
        pol_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
        pod_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
        pod_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
        updated: 2000-01-23T04:56:07.000+00:00
        pol_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
        pol_actual_loading_lt: 2000-01-23T04:56:07.000+00:00
        pol_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
      properties:
        bl_no:
          description: Bill of Lading or Booking Number
          example: COSU6349613240
          type: string
        carrier_no:
          description: Carrier SCAC Code
          example: COSU
          maxLength: 4
          type: string
        cntr_no:
          description: Container Number
          example: BMOU1589176
          type: string
        created:
          description: Bill of Lading Object Created Date
          format: date-time
          type: string
        id:
          description: Bill of Lading Object ID
          example: 16caa040-f582-4c15-88c9-2e80437e7916
          format: uuid
          type: string
        place_of_delivery:
          description: UNLOCODE for the Location of Container Delivery (After the
            POD)
          example: USORF
          maxLength: 5
          type: string
        place_of_delivery_name:
          description: Name for the Location of Container Delivery (After the POD)
          example: NORFOLK
          type: string
        place_of_receipt:
          description: UNLOCODE for the Location of Container Receipt (Before the
            POL)
          example: GHTEM
          maxLength: 5
          type: string
        place_of_receipt_name:
          description: Name for the Location of Container Receipt (Before the POL)
          example: TEMA
          type: string
        pod:
          description: UNLOCODE for the Port of Discharge
          example: GHTEM
          maxLength: 5
          type: string
        pod_actual_arrival_lt:
          description: Actual Time of Arrival for the Final Vessel at the Port of
            Discharge (POD) - Local Time
          format: date-time
          nullable: true
          type: string
        pod_actual_arrival_lt_from_ais:
          description: Actual Time of Arrival for the Final Vessel at the Port of
            Discharge (POD) as per AIS Data- Local Time
          format: date-time
          nullable: true
          type: string
        pod_actual_departure_lt_from_ais:
          description: Actual Time of Departure for the Final Vessel from the Port
            of Discharge (POD) as per AIS Data - Local Time
          format: date-time
          nullable: true
          type: string
        pod_actual_discharge_lt:
          description: Actual Container Discharge Time from Final Vessel at the Port
            of Discharge (POD) - Local Time
          format: date-time
          nullable: true
          type: string
        pod_name:
          description: Port of Discharge Name
          example: TEMA
          type: string
        pod_predicted_arrival_lt:
          description: "Portcast Predicted Time of Arrival for the Final Vessel at\
            \ the Port of Discharge (POD) - Local Time [Most Reliable Source of ETA]"
          format: date-time
          nullable: true
          type: string
        pod_predicted_departure_lt:
          description: Portcast Predicted Time of Departure for the Final Vessel from
            the Port of Discharge (POD) - Local Time
          format: date-time
          nullable: true
          type: string
        pod_scheduled_arrival_lt:
          description: Scheduled Time of Arrival for the Final Vessel at the Port
            of Discharge (POD) as per carrier T&T - Local Time
          format: date-time
          nullable: true
          type: string
        pod_scheduled_arrival_lt_first_seen:
          description: First Recorded Scheduled Time of Arrival for the Final Vessel
            at the Port of Discharge (POD) as per carrier T&T - Local Time
          format: date-time
          nullable: true
          type: string
          x-stoplight:
            id: dwxjh6jwpij3r
        pod_scheduled_arrival_lt_from_schedule:
          description: Scheduled Time of Arrival for the Final Vessel at the Port
            of Discharge (POD) as per vessel schedule - Local Time
          format: date-time
          nullable: true
          type: string
        pod_scheduled_departure_lt_from_schedule:
          description: Scheduled Time of Departure for the Final Vessel from the Port
            of Discharge (POD) as per vessel schedule - Local Time
          format: date-time
          nullable: true
          type: string
        pod_scheduled_discharge_lt:
          description: Carrier Scheduled Container Discharge Time from Final Vessel
            at the Port of Discharge (POD) - Local Time
          format: date-time
          nullable: true
          type: string
        pod_terminal_name:
          description: Terminal Name for the Port of Discharge (POD)
          example: MERIDIAN PORT SERVICE LIMITED
          type: string
        pol:
          description: UNLOCODE for the Port of Loading
          example: USORF
          maxLength: 5
          type: string
        pol_actual_arrival_lt_from_ais:
          description: Actual Time of Arrival for the First Vessel at the Port of
            Loading (POL) as per AIS Data - Local Time
          format: date-time
          nullable: true
          type: string
        pol_actual_departure_lt:
          description: Actual Time of Departure for the First Vessel from the Port
            of Loading (POL) - Local Time
          format: date-time
          nullable: true
          type: string
        pol_actual_departure_lt_from_ais:
          description: Actual Time of Departure for the First Vessel from the Port
            of Loading (POL) as per AIS Data - Local Time
          format: date-time
          nullable: true
          type: string
        pol_actual_loading_lt:
          description: Actual Container Loading Time on First Vessel at the Port of
            Loading (POL) - Local Time
          format: date-time
          nullable: true
          type: string
        pol_name:
          description: Port of Loading Name
          example: NORFOLK
          type: string
        pol_predicted_arrival_lt:
          description: Portcast Predicted Time of Arrival for the First Vessel at
            the Port of Loading (POL) - Local Time
          format: date-time
          nullable: true
          type: string
        pol_predicted_departure_lt:
          description: "Portcast Predicted Time of Departure for the First Vessel\
            \ from the Port of Loading (POL) - Local Time [Most Reliable Source of\
            \ ETD]"
          format: date-time
          nullable: true
          type: string
        pol_scheduled_arrival_lt_from_schedule:
          description: Scheduled Time of Arrival for the First Vessel at the Port
            of Loading (POL) as per Vessel Schedule - Local Time
          format: date-time
          nullable: true
          type: string
        pol_scheduled_departure_lt:
          description: Scheduled Time of Departure for the First Vessel from the Port
            of Loading (POL) as per Container T&T - Local Time
          format: date-time
          nullable: true
          type: string
        pol_scheduled_departure_lt_first_seen:
          description: First Recorded Scheduled Time of Departure for the First Vessel
            at the Port of Loading (POL) as per carrier T&T - Local Time
          format: date-time
          nullable: true
          type: string
          x-stoplight:
            id: b9kix8ldlsfgd
        pol_scheduled_departure_lt_from_schedule:
          description: Scheduled Time of Departure for the First Vessel from the Port
            of Loading (POL) as per Vessel Schedule - Local Time
          format: date-time
          nullable: true
          type: string
        pol_scheduled_loading_lt:
          description: Carrier Scheduled Container Loading Time on First Vessel at
            the Port of Loading (POL) - Local Time
          format: date-time
          nullable: true
          type: string
        pol_terminal_name:
          description: Terminal Name for the Port of Loading (POL)
          example: PPCY EMPTY DEPOT
          type: string
        updated:
          description: Bill of Lading Object Updated Date
          format: date-time
          type: string
      title: Bill of Lading
    Bill_of_Lading_Bookmark:
      description: Schema for the Bill of Lading Bookmark Object
      example:
        bl_no: ONEYANRB31646600
        cntr_no: TLLU1181321
        deleted: false
        status_code: status_code
        created: 2000-01-23T04:56:07.000+00:00
        org_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
        status_info:
          metadata: []
          code: UPLOADED
        carrier_no: ONEY
        id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
        system_deleted: false
        updated: 2000-01-23T04:56:07.000+00:00
        status: status
      properties:
        bl_no:
          description: Bill of Lading No or Booking No.
          example: ONEYANRB31646600
          nullable: true
          type: string
        carrier_no:
          description: Carrier SCAC Code
          example: ONEY
          type: string
        cntr_no:
          description: Container Number
          example: TLLU1181321
          type: string
        created:
          description: Bookmark Upload Date
          format: date-time
          type: string
        deleted:
          default: false
          description: Archival Status of the bookmark
          type: boolean
        id:
          description: "Unique Identifier called Bill of Lading Bookmark ID [Primary\
            \ Key] (Also refered as Bookmark ID)"
          example: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          format: uuid
          type: string
        org_id:
          description: Customer Org (Flow) to which the bookmark ID is uploaded too
          example: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          format: uuid
          type: string
        status:
          deprecated: true
          description: "[Deprecated] Old Status codes - Not supported"
          type: string
        status_code:
          deprecated: true
          description: "[Depricated] Old Status codes - Not supported"
          type: string
        status_info:
          $ref: '#/components/schemas/Bill_of_Lading_Bookmark_status_info'
        system_deleted:
          default: false
          description: System Deletion Status of the bookmark
          type: boolean
        updated:
          description: |-
            Last Updated date for the Bookmark ID
            (Refers to when we fetched the latest data for the bookmark ID)
          format: date-time
          type: string
      title: Bill of Lading Bookmark
    Container_Event:
      description: "Schema for Container Events; Refer to [Container Events Detail\
        \ Docs](docs/Container_Events_Data_Types.md) for more details"
      example:
        created: 2000-01-23T04:56:07.000+00:00
        event_raw: Empty container pick-up
        vessel_imo: 9751107
        event_time_estimated: 2023-12-29T00:00:00
        event_type_code: PICKUP
        terminal_details:
          terminal_code_source: BIC
          terminal_name: XIAMEN OCEAN GATE TERMINAL
          terminal_code: XOGT
        vessel_name: GEMLIK EXPRESS
        event_type_name: Empty container pick-up
        mode_of_transport: TRUCK
        port_name: XIAMEN
        location_raw: Xiamen
        id: c5f7acd1-28e6-4d98-996f-c214418adcc3
        location_type_name: Place of receipt
        location_type_code: POR
        updated: 2000-01-23T04:56:07.000+00:00
        event_time: 2023-12-29T00:00:00
        port_code: CNXMG
      properties:
        created:
          description: Container Event Object Created Date
          format: date-time
          type: string
        event_raw:
          description: "Description of the event, as reported by the Carrier"
          example: Empty container pick-up
          type: string
        event_time:
          description: "The latest actual date-time of the event, as reported by the\
            \ Carrier - Local Time"
          example: 2023-12-29T00:00:00
          nullable: true
          type: string
        event_time_estimated:
          description: "The latest estimated date-time of the event, as reported by\
            \ the Carrier - Local Time"
          example: 2023-12-29T00:00:00
          nullable: true
          type: string
        event_type_code:
          description: Portcast Standardized Event Code
          enum:
          - PICKUP
          - GATEIN
          - LOAD
          - DEPART
          - ARRIVE
          - UNLOAD
          - GATEOUT
          - DELIVER
          - RETURN
          - T/S BERTHING
          - POD BERTHING
          - UNCLASSIFIED
          type: string
        event_type_name:
          description: Portcast Standardized Event Name
          enum:
          - Empty container pick-up
          - Gate in
          - Loaded
          - Departure
          - Arrival
          - Unload
          - Gate out
          - Container delivered to consignee
          - Empty container returned
          - T/S Berthing Destination
          - POD Berthing Destination
          - Unclassified
          type: string
        id:
          description: Unique Identifier for the Container Event Object
          example: c5f7acd1-28e6-4d98-996f-c214418adcc3
          format: uuid
          type: string
        location_raw:
          description: "Relates to a physical location where the container event takes\
            \ place, as reported by the Carrier"
          example: Xiamen
          nullable: true
          type: string
        location_type_code:
          description: Describes the stage at which the container event takes place
            - Code
          enum:
          - POR
          - POL
          - POT
          - POD
          - POA
          - UNCLASSIFIED
          type: string
        location_type_name:
          description: Describes the stage at which the container event takes place
            - Full Description
          enum:
          - Place of receipt
          - Port of loading
          - Port of transshipment
          - Port of discharge
          - Place of delivery
          - Unclassified
          type: string
        mode_of_transport:
          description: "Mode of Transport which is used for the execution of the container\
            \ event, as interpretted by Portcast"
          enum:
          - TRUCK
          - RAIL
          - VESSEL
          - BARGE
          - UNCLASSIFIED
          nullable: true
          type: string
        port_code:
          description: "Relates to the UNLOCODE for the location where the container\
            \ event takes place, as standardized by Portcast"
          example: CNXMG
          nullable: true
          type: string
        port_name:
          description: "Relates to the location name where the container event takes\
            \ place, as standardized by Portcast"
          example: XIAMEN
          nullable: true
          type: string
        terminal_details:
          $ref: '#/components/schemas/Container_Event_terminal_details'
        updated:
          description: Container Event Object Updated Date
          format: date-time
          type: string
        vessel_imo:
          description: Vessel IMO of the vessel associated with the event
          example: 9751107
          nullable: true
          type: number
        vessel_name:
          description: Vessel Name of the vessel associated with the event
          example: GEMLIK EXPRESS
          nullable: true
          type: string
      title: Container Event
    Container_Metadata:
      description: Schema for container metadata information
      example:
        external_width_ft: 7.99
        cntr_no: TLLU1181321
        detail_st: 42G1
        external_height_ft: 8.51
        external_length_ft: 40
      properties:
        cntr_no:
          description: Container Number
          example: TLLU1181321
          type: string
        detail_st:
          description: "Container Size and Type Code as defined by [ISO 6346](https://en.wikipedia.org/wiki/ISO_6346#Size_and_type_codes)"
          example: 42G1
          type: string
        external_height_ft:
          description: Container External Body Height
          example: 8.51
          format: float
          type: number
        external_length_ft:
          description: Container External Body Length
          example: 40
          format: float
          type: number
        external_width_ft:
          description: Container External Body Width
          example: 7.99
          format: float
          type: number
      title: Container Metadata
      x-examples:
        Example 1:
          cntr_no: APZU4763484
          detail_st: 42G1
          external_height_ft: 8.500699996948242
          external_length_ft: 40
          external_width_ft: 7.998700141906738
    Delay_Reasons:
      description: "Schema for delay reasons associated to the bookmark; Refer to\
        \ [Delay Reasons Detail Docs](docs/Delay_Reasons_and_Incidents.md) for more\
        \ details"
      example:
        port_name: XIAMEN
        reason_code: RLV
        delay_description: Container rolled over to another vessel at POL
        schedule_change:
        - old_date: 2000-01-23T04:56:07.000+00:00
          event_type_code: ARRIVE
          new_date: 2000-01-23T04:56:07.000+00:00
          location_type_code: POL
        - old_date: 2000-01-23T04:56:07.000+00:00
          event_type_code: ARRIVE
          new_date: 2000-01-23T04:56:07.000+00:00
          location_type_code: POL
        rotation_change:
          comparison_schedule:
          - CNSHG
          - CNSHG
          updated_schedule:
          - CNYTN
          - CNYTN
        vessel_change:
          updated_vessel: 9604108
          comparison_vessel: 9839208
        created: 2000-01-23T04:56:07.000+00:00
        location_type_code: POL
        port_code: CNXMG
      properties:
        created:
          description: Container Delay Reason Object Created Date
          format: date-time
          type: string
        delay_description:
          description: Description of the Delay Reason
          enum:
          - Container rolled over to another vessel at POL
          - Container rolled over to another vessel at POT
          - Delayed Departure from POL
          - Delayed Departure from POT
          - Port Rotation Has Changed
          type: string
        location_type_code:
          description: Location qualifier to define if the delay incident has taken
            place at the origin port (POL) or transshipment port (POT)
          enum:
          - POL
          - POT
          type: string
        port_code:
          description: Relates to the UNLOCODE for the location to which the delay
            incident is associated with
          example: CNXMG
          type: string
        port_name:
          description: Relates to the location name to which the delay incident is
            associated with
          example: XIAMEN
          type: string
        reason_code:
          description: "Delay Incident Code: RLV(Vessel Rollover), LTD(Late Departure),\
            \ PRC(Port Rotation Changes)"
          enum:
          - RLV
          - LTD
          - PRC
          type: string
        rotation_change:
          $ref: '#/components/schemas/Delay_Reasons_rotation_change'
        schedule_change:
          description: "Detailed view into impact of delay incidents into the container's\
            \ arrival at POD, loading and departure events."
          items:
            $ref: '#/components/schemas/Delay_Reasons_schedule_change_inner'
          type: array
        vessel_change:
          $ref: '#/components/schemas/Delay_Reasons_vessel_change'
      title: Delay Reasons
    Sailing_Info_Tracking:
      description: Schema for Sailing Info Tracking
      example:
        msg: AIS successfully fetched
        success: true
        sailing_info:
          vessel_flag: SG
          voyage_no: CG303R
          pol_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          pod: ESBCN
          pod_scheduled_arrival_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          pod_scheduled_discharge_lt: 2000-01-23T04:56:07.000+00:00
          imo: "9306172"
          pol_actual_departure_lt: 2000-01-23T04:56:07.000+00:00
          pol: USHOU
          pol_scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
          pod_actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_actual_discharge_lt: 2000-01-23T04:56:07.000+00:00
          pol_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pod_terminal_name: BARCELONA EUROPE SOUTH TERMINAL
          id: 94e3dc60-2039-4a54-a88c-7c5885fd7988
          pol_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          vessel_leg: 1
          is_active: true
          pod_scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
          pod_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          created: 2000-01-23T04:56:07.000+00:00
          vessel_name: MAERSK PUELO
          pol_name: HOUSTON
          pod_name: BARCELONA
          pod_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          pol_terminal_name: BAYPORT TERMINAL
          pol_scheduled_loading_lt: 2000-01-23T04:56:07.000+00:00
          carrier_no: CMDU
          pol_scheduled_departure_lt_from_schedule: 2000-01-23T04:56:07.000+00:00
          pod_actual_departure_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pod_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          updated: 2000-01-23T04:56:07.000+00:00
          pol_actual_arrival_lt_from_ais: 2000-01-23T04:56:07.000+00:00
          pol_actual_loading_lt: 2000-01-23T04:56:07.000+00:00
          pol_predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
        status_info:
          vessel:
            metadata:
            - LATEST_VESSEL_PORTCALLS_NOT_FOUND
            - LATEST_VESSEL_PORTCALLS_NOT_FOUND
            code: INIT
          prediction:
            metadata:
            - PREDICTIONS_NOT_ENABLED
            - PREDICTIONS_NOT_ENABLED
            code: INIT
        ais:
          timestamp_utc: 2000-01-23T04:56:07.000+00:00
          course: 154
          imo: "9306172"
          lon: -78.766
          lat: 26.527666
          speed_nm: 8.2
          status: 0
        voyage_details:
        - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
          timezone: UTC +2
          predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          index: 1
          lon: 15.901825
          predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
          actual_departure_lt: 2000-01-23T04:56:07.000+00:00
          port_name: GIOIA TAURO
          scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
          prediction_time_utc: 2000-01-23T04:56:07.000+00:00
          actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
          predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
          scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
          scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
          actual_departure_utc: 2000-01-23T04:56:07.000+00:00
          voyage_no_list:
          - CG303R
          - CG303R
          delay_reasons:
          - Expected waiting time at port NORFOLK is 26.91 hours
          - Expected waiting time at port NORFOLK is 26.91 hours
          id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
          active_scac: CMDU
          lat: 38.45494
          predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
          port_code: ITGIT
        - actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
          timezone: UTC +2
          predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
          index: 1
          lon: 15.901825
          predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
          scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
          actual_departure_lt: 2000-01-23T04:56:07.000+00:00
          port_name: GIOIA TAURO
          scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
          prediction_time_utc: 2000-01-23T04:56:07.000+00:00
          actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
          predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
          scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
          scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
          actual_departure_utc: 2000-01-23T04:56:07.000+00:00
          voyage_no_list:
          - CG303R
          - CG303R
          delay_reasons:
          - Expected waiting time at port NORFOLK is 26.91 hours
          - Expected waiting time at port NORFOLK is 26.91 hours
          id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
          active_scac: CMDU
          lat: 38.45494
          predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
          port_code: ITGIT
      properties:
        ais:
          $ref: '#/components/schemas/Sailing_Info_Tracking_ais'
        sailing_info:
          $ref: '#/components/schemas/Sailing_Info_Tracking_sailing_info'
        status_info:
          $ref: '#/components/schemas/Sailing_Info_Tracking_status_info'
        voyage_details:
          description: Sailing Schedule for the vessel between the starting and target
            port of this specific leg of the journey
          items:
            $ref: '#/components/schemas/Voyage_Details'
          type: array
        msg:
          description: Details on AIS Data fetch
          enum:
          - AIS successfully fetched
          - Cannot find vessel live ais data (before the time specified)
          type: string
        success:
          default: true
          description: Successfully Fetched AIS data or not
          type: boolean
      title: Sailing Info Tracking
    Voyage_Details:
      description: Schema for Voyage Details
      example:
        actual_arrival_utc: 2000-01-23T04:56:07.000+00:00
        timezone: UTC +2
        predicted_departure_lt: 2000-01-23T04:56:07.000+00:00
        index: 1
        lon: 15.901825
        predicted_arrival_lt: 2000-01-23T04:56:07.000+00:00
        scheduled_arrival_lt: 2000-01-23T04:56:07.000+00:00
        actual_departure_lt: 2000-01-23T04:56:07.000+00:00
        port_name: GIOIA TAURO
        scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
        prediction_time_utc: 2000-01-23T04:56:07.000+00:00
        actual_arrival_lt: 2000-01-23T04:56:07.000+00:00
        predicted_arrival_utc: 2000-01-23T04:56:07.000+00:00
        scheduled_arrival_utc: 2000-01-23T04:56:07.000+00:00
        scheduled_departure_lt: 2000-01-23T04:56:07.000+00:00
        actual_departure_utc: 2000-01-23T04:56:07.000+00:00
        voyage_no_list:
        - CG303R
        - CG303R
        delay_reasons:
        - Expected waiting time at port NORFOLK is 26.91 hours
        - Expected waiting time at port NORFOLK is 26.91 hours
        id: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
        active_scac: CMDU
        lat: 38.45494
        predicted_departure_utc: 2000-01-23T04:56:07.000+00:00
        port_code: ITGIT
      properties:
        active_scac:
          description: Vessel Schedule Provider SCAC
          example: CMDU
          nullable: true
          type: string
        actual_arrival_lt:
          description: Actual Time of Arrival - Local Time
          format: date-time
          nullable: true
          type: string
        actual_arrival_utc:
          description: Actual Time of Arrival - UTC Adjusted Time
          format: date-time
          nullable: true
          type: string
        actual_departure_lt:
          description: Actual Time of Departure - Local Time
          format: date-time
          nullable: true
          type: string
        actual_departure_utc:
          description: Actual Time of Departure - UTC Adjusted Time
          format: date-time
          nullable: true
          type: string
        delay_reasons:
          items:
            example: Expected waiting time at port NORFOLK is 26.91 hours
            type: string
          minItems: 0
          type: array
        id:
          description: Unique Identifier for the Voyage Detail
          example: 7c0a95b4-dbad-5178-9c1f-01ad9da1e3ee
          format: uuid
          type: string
        index:
          description: Index of the Journey Position
          example: 1
          type: integer
        lat:
          description: Latitude of the Port Location
          example: 38.45494
          type: number
        lon:
          description: Longitude of the Port Location
          example: 15.901825
          type: number
        port_code:
          description: Port Location UNLOCODE
          example: ITGIT
          type: string
        port_name:
          description: Port Location Name
          example: GIOIA TAURO
          type: string
        predicted_arrival_lt:
          description: Portcast Predicted Arrival Time - Local Time
          format: date-time
          nullable: true
          type: string
        predicted_arrival_utc:
          description: Portcast Predicted Arrival Time - UTC Adjusted
          format: date-time
          nullable: true
          type: string
        predicted_departure_lt:
          description: Portcast Predicted Departure Time - Local Time
          format: date-time
          nullable: true
          type: string
        predicted_departure_utc:
          description: Portcast Predicted Departure Time - UTC Adjusted Time
          format: date-time
          nullable: true
          type: string
        prediction_time_utc:
          description: Prediction Generation Timestamp
          format: date-time
          nullable: true
          type: string
        scheduled_arrival_lt:
          description: Vessel Scheduled Arrival Time - Local Time
          format: date-time
          nullable: true
          type: string
        scheduled_arrival_utc:
          description: Vessel Scheduled Arrival Time - UTC Adjusted Time
          format: date-time
          nullable: true
          type: string
        scheduled_departure_lt:
          description: Vessel Scheduled Departure Time - Local Time
          format: date-time
          nullable: true
          type: string
        scheduled_departure_utc:
          description: Vessel Scheduled Departure Time - Departure Time
          format: date-time
          nullable: true
          type: string
        timezone:
          description: Timezone of the Port Location
          example: UTC +2
          nullable: true
          type: string
        voyage_no_list:
          description: "Voyage Numbers at the Port Location (Comes from schedule for\
            \ that leg ; first one is import voyage number, second one is export voyage\
            \ no)"
          items:
            example: CG303R
            type: string
          type: array
      title: Voyage Details
      x-stoplight:
        id: 0kee3begju3po
    Booking_API:
      description: Booking API - POST Request Response
      example:
        route:
          pod:
            date: 2000-01-23T04:56:07.000+00:00
            actual: true
            location: 1
          postpod:
            date: 2000-01-23T04:56:07.000+00:00
            actual: true
            location: 1
          pol:
            date: 2000-01-23T04:56:07.000+00:00
            actual: true
            location: 1
          prepol:
            date: 2000-01-23T04:56:07.000+00:00
            actual: true
            location: 1
        response:
        - container: container
          obj:
            bl_no: ONEYANRB31646600
            cntr_no: TLLU1181321
            deleted: false
            status_code: status_code
            created: 2000-01-23T04:56:07.000+00:00
            org_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            status_info:
              metadata: []
              code: UPLOADED
            carrier_no: ONEY
            id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            system_deleted: false
            updated: 2000-01-23T04:56:07.000+00:00
            status: status
          status: status
        - container: container
          obj:
            bl_no: ONEYANRB31646600
            cntr_no: TLLU1181321
            deleted: false
            status_code: status_code
            created: 2000-01-23T04:56:07.000+00:00
            org_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            status_info:
              metadata: []
              code: UPLOADED
            carrier_no: ONEY
            id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            system_deleted: false
            updated: 2000-01-23T04:56:07.000+00:00
            status: status
          status: status
        containers:
        - TLLU1181321
        - TLLU1181321
        locations:
        - country: United States
          country_code: US
          lng: -95.36327
          locode: USHOU
          name: HOUSTON
          id: 1
          state: Texas
          lat: 29.76328
        - country: United States
          country_code: US
          lng: -95.36327
          locode: USHOU
          name: HOUSTON
          id: 1
          state: Texas
          lat: 29.76328
        message: SUCCESS
        vessels:
        - flag: SG
          mmsi: 563039700
          name: MAERSK HANOI
          imo: 9784295
          id: 1
          call_sign: 9V5601
        - flag: SG
          mmsi: 563039700
          name: MAERSK HANOI
          imo: 9784295
          id: 1
          call_sign: 9V5601
        status: success
      properties:
        containers:
          description: List of Container Numbers
          items:
            example: TLLU1181321
            type: string
          type: array
        status:
          description: Status of the call made
          enum:
          - success
          - error
          type: string
        message:
          description: "\r\nKey | Description\r\n---------|----------\r\n SUCCESS\
            \ | Successful call\r\n BL_NOT_FOUND | Carrier didn't return any data\
            \ for the queried document \r\n INVALID_BL_NO | Carrier returned an error\
            \ for the queried document\r\n AUTO_CANT_DETECT_SEALINE | AUTO Scac detection\
            \ wasn't able to get the correct carrier\r\n UNEXPECTED_ERROR | There\
            \ was an error while fetching the document details, please check input\
            \ parameters"
          enum:
          - SUCCESS
          - BL_NOT_FOUND
          - INVALID_BL_NO
          - AUTO_CANT_DETECT_SEALINE
          - UNEXPECTED_ERROR
          type: string
        response:
          description: Bill of Lading Bookmarks Created List
          items:
            $ref: '#/components/schemas/Booking_API_response_inner'
          type: array
        route:
          $ref: '#/components/schemas/Booking_API_route'
        locations:
          description: List of Locations the booking will visit
          items:
            $ref: '#/components/schemas/Booking_API_locations_inner'
          type: array
        vessels:
          description: List of Vessels the booking will operate on
          items:
            $ref: '#/components/schemas/Booking_API_vessels_inner'
          type: array
      title: Booking Upload API
    Port_Terminal_Add_On:
      description: Portcast Port Terminal Data Add On
      example:
        bl_no: COSU6349613240
        cntr_no: BMOU1589176
        export_plan:
          voyage_no: CG303R
          port_cutoff_reefer: 2023-06-23T14:15:22Z
          erd_standard: 2023-06-24T14:15:22Z
          latest_etd: 2023-06-26T14:15:22Z
          facility_code: PSAPP1
          vessel_name: GEMLIK EXPRESS
          facility_name: Pasir Panjang Terminal 1
          latest_eta: 2023-06-24T14:15:22Z
          port_name: Port of Singapore
          actual_arrival: 2023-06-24T14:15:22Z
          gate_in_date: 2023-06-21T14:15:22Z
          port_cutoff_standard: 2023-06-23T14:15:22Z
          erd_reefer: 2023-06-24T14:15:22Z
          actual_departure: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          updated: 2000-01-23T04:56:07.000+00:00
          port_code: SGSIN
        bill_of_lading_bookmark_id: 16caa040-f582-4c15-88c9-2e80437e7916
        import_plan:
          yard_location: Yard Grounded (TIS-2A16543)
          last_free_day: 2023-08-20
          voyage_no: CG304E
          discharge_date: 2023-08-14T14:15:22Z
          pickup_appointment_date: 2023-08-21T14:15:22Z
          facility_code: RWG
          vessel_name: MAERSK EMERALD
          facility_name: Rotterdam World Gateway
          gate_out_date: 2023-08-21T14:15:22Z
          latest_eta: 2023-08-15T14:15:22Z
          ready_for_delivery: "TRUE"
          port_name: Port of Rotterdam
          container_holds: "CTF,CUSTOMS,LINE,TMF"
          container_status: Yard
          demurrage_owed: "1,200"
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          updated: 2000-01-23T04:56:07.000+00:00
          port_code: NLRTM
          appointment_set: "TRUE"
      properties:
        bill_of_lading_bookmark_id:
          description: "Unique Identifier called Bill of Lading Bookmark ID [Primary\
            \ Key] (Also refered as Bookmark ID)"
          example: 16caa040-f582-4c15-88c9-2e80437e7916
          format: uuid
          type: string
        cntr_no:
          description: Container number
          example: BMOU1589176
          type: string
        bl_no:
          description: Bill of Lading or Booking Number
          example: COSU6349613240
          type: string
        export_plan:
          $ref: '#/components/schemas/Port_Terminal_Add_On_export_plan'
        import_plan:
          $ref: '#/components/schemas/Port_Terminal_Add_On_import_plan'
      title: Terminal Data Add-on
      x-examples:
        Example 1:
          bill_of_lading_bookmark_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          cntr_no: MRSU3366535
          bl_no: 3PHL006103
          export_plan:
            id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            updated: 2019-08-24T14:15:22Z
            port_code: USLGB
            port_name: Long Beach
            facility_code: ADT
            facility_name: Khalifa Port Container Terminal
            vessel_name: MOL CHARISMA
            voyage_no: 214E
            erd_standard: 2019-11-12T07:41:00+08:30
            erd_reefer: 2019-11-12T07:41:00+08:30
            gate_in_date: 2019-11-12T07:41:00+08:30
            port_cutoff_standard: 2019-11-12T07:41:00+08:30
            port_cutoff_reefer: 2019-11-12T07:41:00+08:30
            latest_eta: 2019-11-12T07:41:00+08:30
            actual_arrival: 2019-11-12T07:41:00+08:30
            latest_etd: 2019-11-12T07:41:00+08:30
            actual_departure: 2019-11-12T07:41:00+08:30
          import_plan:
            id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
            updated: 2019-08-24T14:15:22Z
            port_code: USLGB
            port_name: Long Beach
            facility_code: ADT
            facility_name: Khalifa Port Container Terminal
            vessel_name: MOL CHARISMA
            voyage_no: 214E
            container_status: ADVISED
            discharge_date: 2019-11-12T07:41:00+08:30
            yard_location: "COMMUNITY - OUT, Yard Wheeled (83639)"
            container_holds: "77, 78"
            last_free_day: 2019-12-06
            demurrage_owed: "27272"
            gate_out_date: 2019-11-12T07:41:00+08:30
            latest_eta: 2019-11-12T07:41:00+08:30
            ready_for_delivery: "TRUE"
            appointment_set: "FALSE"
            pickup_appointment_date: 2019-11-12T07:41:00+08:30
    post_eta_bill_of_lading_bookmarks_request:
      description: Upload Parameters
      properties:
        carrier_no:
          description: Carrier SCAC Code or Carrier Synonym (AUTO Detection Supported)
          type: string
        bl_no:
          description: "Carrier Provided Master Bill of Lading Number or Booking Number\
            \ [Leave blank if not available]"
          type: string
        cntr_no:
          description: Container Number (ISO6346)
          type: string
        callback_url:
          description: A https endpoint for Portcast to push the json object whenever
            there are updates.
          type: string
      required:
      - carrier_no
      - cntr_no
    post_eta_bill_of_lading_bookmarks_200_response:
      example:
        obj:
          bl_no: ONEYANRB31646600
          cntr_no: TLLU1181321
          deleted: false
          status_code: status_code
          created: 2000-01-23T04:56:07.000+00:00
          org_id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          status_info:
            metadata: []
            code: UPLOADED
          carrier_no: ONEY
          id: 9cc66661-b0f3-4d4d-8e48-bc4bc45a4f27
          system_deleted: false
          updated: 2000-01-23T04:56:07.000+00:00
          status: status
      properties:
        obj:
          $ref: '#/components/schemas/Bill_of_Lading_Bookmark'
    post_eta_bill_of_lading_bookmarks_400_response:
      example:
        message: "invalid payload, please refer to the detailed schema in documentation"
      properties:
        message:
          enum:
          - "invalid payload, please refer to the detailed schema in documentation"
          - Invalid Container Number
          - Invalid Carrier Number
          type: string
    post_eta_bill_of_lading_bookmarks_401_response:
      example:
        error: Not authorized
      properties:
        error:
          default: Not authorized
          type: string
    post_eta_bill_of_lading_bookmarks_403_response:
      example:
        message: API Quota Exceeded
      properties:
        message:
          default: API Quota Exceeded
          type: string
    post_eta_bill_of_lading_bookmarks_409_response:
      example:
        message: Record already exists
        previous_ids:
        - c7ca3acb-aa73-40c8-884d-928b9a5aceac
        - c7ca3acb-aa73-40c8-884d-928b9a5aceac
      properties:
        message:
          default: Record already exists
          type: string
        previous_ids:
          description: List of Existing Bookmark IDs for the Carrier-BL-Container
            Combination
          items:
            example: c7ca3acb-aa73-40c8-884d-928b9a5aceac
            format: uuid
            type: string
          minItems: 1
          type: array
    post_booking_request:
      properties:
        carrier_no:
          description: Carrier SCAC Code or Carrier Synonym (AUTO Detection Supported)
          type: string
        doc_no:
          description: Booking or Bill of Lading number
          type: string
[...]
